{% block enhavo_files_widget %}
    {% import '@EnhavoMedia/Form/macro_file_container.html.twig' as fcmacro %}
    {% spaceless %}
        {% trans_default_domain 'EnhavoAppBundle' %}
            <div class="uploadForm" data-multiple="{% if multiple %}1{% else %}0{% endif %}">

                <script type="text/html" data-id="files-template">
                    {{ fcmacro.fileContainer(multiple, '{full_name}', fields, '{file_index}', '{file_id}', '', '{file_name}', '{file_slug}', '{file_mime_type}', {}) }}
                </script>
                <script type="text/html" data-id="thumb-template">
                    <img class="file-thumb" src="/file/{file_id}/100/100">
                </script>

                <div class="layer posrel">
                    {% if form.information %}
                        <div class="hintBox mb1">
                            <ul class="bullList">
                                {% for info in form.information %}
                                   <li>{{ info|trans }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}

                    <div class="imagePreview posrel{% if multiple %} multiple{% endif %}">
                        <div class="progress">
                            <div class="bar" style="width: 0%;"></div>
                        </div>

                        {% if multiple %}
                            <div class="dropzone fade well{% if form.vars.value|length < 1 %} empty{% endif %}">
                                <ul class="list clearfix" data-name="{{ full_name }}" data-file-list>
                                    {% for index, file in form.vars.value %}
                                        {% if file %}
                                            {{ fcmacro.fileContainer(multiple, full_name, fields, index, file.id, file.order, file.filename, file.slug, file.mimeType, file.parameters) }}
                                       {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                            <input id="{{ id }}" class="fileupload hidden" type="file" data-url="{{ path('enhavo_media_upload') }}" multiple>
                        {% else %}
                            <div class="dropzone fade well{% if not form.vars.value %} empty{% endif %}">
                                <div class="list clearfix" data-name="{{ full_name }}" data-file-list>
                                    {% if form.vars.value %}
                                        {{ fcmacro.fileContainer(multiple, full_name, fields, 0, form.vars.value.id, form.vars.value.order, form.vars.value.filename, form.vars.value.slug, form.vars.value.mimeType, form.vars.value.parameters) }}
                                    {% endif %}
                                </div>
                            </div>
                            <input id="{{ id }}" class="fileupload hidden" type="file" data-url="{{ path('enhavo_media_upload') }}">
                        {% endif %}
                    </div>
                    <div class="fileupload-fields disabled hidden" data-selected="">
                        <div class="fileupload-field row">
                            <div class="col-md-4 fileupload-field-label-container">
                                <label for="fileupload-field-filename" class="fileupload-field-label">{{ 'media.form.label.filename'|trans({}, 'EnhavoMediaBundle') }}</label>
                            </div>
                            <div class="col-md-8 fileupload-field-input-container">
                                <div class="input-container">
                                    <input id="fileupload-field-filename" class="fileupload-field-input" type="text" name="" data-field-name="filename" disabled />
                                </div>
                            </div>
                        </div>
                        <div class="fileupload-field row">
                            <div class="col-md-4 fileupload-field-label-container">
                                <label for="fileupload-field-slug" class="fileupload-field-label">{{ 'media.form.label.slug'|trans({}, 'EnhavoMediaBundle') }}</label>
                            </div>
                            <div class="col-md-8 fileupload-field-input-container">
                                <span id="fileupload-field-slug" class="fileupload-field-slug" data-field-name="slug"> </span>
                            </div>
                        </div>
                        {% for field_name, field_options in fields %}
                            <div class="fileupload-field row">
                                <div class="col-md-4 fileupload-field-label-container">
                                    <label for="fileupload-field-{{ field_name }}" class="fileupload-field-label">{{ field_options['label']|trans({}, field_options['translationDomain']) }}</label>
                                </div>
                                <div class="col-md-8 fileupload-field-input-container">
                                    <div class="input-container">
                                        <input id="fileupload-field-{{ field_name }}" class="fileupload-field-input" type="text" name="" data-field-name="pa_{{ field_name }}" disabled />
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        <div class="fileupload-actions row">
                            <div class="col-md-4 fileupload-action-download-container">
                                <a class="fileupload-action-download-button" data-download-button href=""><i class="icon-download"></i> {{ 'media.form.label.download'|trans({}, 'EnhavoMediaBundle') }}</a>
                            </div>
                            <div class="col-md-8"></div>
                        </div>
                    </div>
                    <div class="mt1">
                        <button class="btn upload-button"> {{ 'label.upload'|trans }}</button>
                    </div>
                </div>
            </div>
    {% endspaceless %}
{% endblock %}