{% macro fileContainer(multiple_mode, input_name, parameter_fields, file_index, file_id, file_order, file_filename, file_slug, file_mime_type, file_parameters) %}
    {% spaceless %}
        <{% if multiple_mode %}li{% else %}div{% endif %} class="imgContainer{% if not multiple_mode %} singleImage{% endif %}" data-file-element data-id="{{ file_id }}" data-download-link="/file/download/{{ file_id }}">
            <div class="imgdelete">
                <i class="fa fa-times fa-2x"></i>
            </div>
            <div class="uploadForm-image-container" data-mime-type="{{ file_mime_type }}">
                <div data-thumb-container></div>
                <i class="file-icon" data-file-icon></i>
                <div class="uploadForm-image-overlay"><i class="icon-edit-1"></i>{% if multiple_mode %} <i class="icon-swap"></i>{% endif %}</div>
            </div>
            <input type="hidden" name="{{ input_name }}{% if multiple_mode %}[{{ file_index }}]{% endif %}[id]" value="{{ file_id }}" />
            <input type="hidden" name="{{ input_name }}{% if multiple_mode %}[{{ file_index }}]{% endif %}[order]" data-file-element-order value="{{ file_order }}" />
            <input type="hidden" name="{{ input_name }}{% if multiple_mode %}[{{ file_index }}]{% endif %}[filename]" value="{{ file_filename }}" data-field-name="filename" />
            <input type="hidden" name="{{ input_name }}{% if multiple_mode %}[{{ file_index }}]{% endif %}[slug]" value="{{ file_slug }}" data-field-name="slug" />
            {% for field_name, field_options in parameter_fields %}
                <input type="hidden"
                       name="{{ input_name }}{% if multiple_mode %}[{{ file_index }}]{% endif %}[parameters][{{ field_name }}]"
                       value="{% if file_parameters[field_name] is defined %}{{ file_parameters[field_name] }}{% endif %}"
                       data-field-name="pa_{{ field_name }}" />
            {% endfor %}
        </{% if multiple_mode %}li{% else %}div{% endif %}>
    {% endspaceless %}
{% endmacro %}

{% macro fileUploadField(field_name, field_type, field_label, translation_domain, field_options) %}
    {% spaceless %}
        {% if field_type == 'choices' %}
            <div class="fileupload-field row">
                <div class="col-md-4 fileupload-field-label-container">
                    <label for="fileupload-field-{{ field_name }}" class="fileupload-field-label">{{ field_label|trans({}, translation_domain)|nl2br }}</label>
                </div>
                <div class="col-md-8 fileupload-field-input-container">
                    <div class="input-container">
                        <select id="fileupload-field-{{ field_name }}" class="fileupload-field-input" name="" data-fileupload-field-input data-field-name="{{ field_name }}" data-field-type="choices" disabled>
                            {% for value, label in field_options['choices'] %}
                                <option value="{{ value }}">{{ label|trans({}, translation_domain) }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
        {% else %}
            {# Default type: text #}
            <div class="fileupload-field row">
                <div class="col-md-4 fileupload-field-label-container">
                    <label for="fileupload-field-{{ field_name }}" class="fileupload-field-label">{{ field_label|trans({}, translation_domain)|nl2br }}</label>
                </div>
                <div class="col-md-8 fileupload-field-input-container">
                    <div class="input-container">
                        <input id="fileupload-field-{{ field_name }}" class="fileupload-field-input" type="text" name="" data-fileupload-field-input data-field-name="{{ field_name }}" data-field-type="text" disabled />
                    </div>
                </div>
            </div>
        {% endif %}
    {% endspaceless %}
{% endmacro %}