{% import _self as element %}

{% macro text(title, text, layout = 0) %}
    <td style="{% if layout == 0 %}width: 50%;{% endif %}{% if layout == 1 %}width: 33%;{% endif %}{% if layout == 2 %}width: 67%;{% endif %} padding: 10px;">
        {% if title %}
            <h2>{{ title }}</h2>
        {% endif %}
        {% if text %}
            <p>{{ text|raw }}</p>
        {% endif %}
    </td>
{% endmacro %}

<div style="padding-top: 10px; padding-bottom: 10px;">
    {% if block.title %}
        <h2>{{ block.title }}</h2>
    {% endif %}
    <table border="0">
        <tr>
            {{ element.text(block.titleLeft, block.textLeft, block.layout == 1 ? 1 : (block.layout == 2 ? 2 : 0)) }}
            {{ element.text(block.titleRight, block.textRight, block.layout == 1 ? 1 : (block.layout == 2 ? 2 : 0)) }}
        </tr>
    </table>
</div>