<div style="padding-top: 10px; padding-bottom: 10px;">
    <table border="0">
        <tr>
            <td style="width: 33%; padding:10px;">
                {% if block.titleLeft %}
                    <h2>{{ block.titleLeft }}</h2>
                {% endif %}
                {% if block.fileLeft %}
                    <img src="{{ media_url(block.fileLeft, 'container_width') }}" style="width:100%;">
                {% endif %}
                {% if block.captionLeft %}
                    <p style="font-size: 13px;margin-top: 5px;">{{ block.captionLeft }}</p>
                {% endif %}
            </td>
            <td style="width: 34%; padding:10px;">
                {% if block.titleCenter %}
                    <h2>{{ block.titleCenter }}</h2>
                {% endif %}
                {% if block.fileCenter %}
                    <img src="{{ media_url(block.fileCenter, 'container_width') }}" style="width:100%;">
                {% endif %}
                {% if block.captionCenter %}
                    <p style="font-size: 13px;margin-top: 5px;">{{ block.captionCenter }}</p>
                {% endif %}
            </td>
            <td style="width: 33%; padding:10px;">
                {% if block.titleRight %}
                    <h2>{{ block.titleRight }}</h2>
                {% endif %}
                {% if block.fileRight %}
                    <img src="{{ media_url(block.fileRight, 'container_width') }}" style="width:100%;">
                {% endif %}
                {% if block.captionRight %}
                    <p style="font-size: 13px;margin-top: 5px;">{{ block.captionRight }}</p>
                {% endif %}
            </td>
        </tr>
    </table>
</div>