<div style="padding-top: 10px; padding-bottom: 10px;">
    <table border="0">
        <tr>
            <td style="width: 33%; padding:10px;">
                {% if data.titleLeft %}
                    <h2>{{ data.titleLeft }}</h2>
                {% endif %}
                {% if data.fileLeft %}
                    <img src="{{ media_url(data.fileLeft, 'container_width') }}" style="width:100%;">
                {% endif %}
                {% if data.captionLeft %}
                    <p style="font-size: 13px;margin-top: 5px;">{{ data.captionLeft }}</p>
                {% endif %}
            </td>
            <td style="width: 34%; padding:10px;">
                {% if data.titleCenter %}
                    <h2>{{ data.titleCenter }}</h2>
                {% endif %}
                {% if data.fileCenter %}
                    <img src="{{ media_url(data.fileCenter, 'container_width') }}" style="width:100%;">
                {% endif %}
                {% if data.captionCenter %}
                    <p style="font-size: 13px;margin-top: 5px;">{{ data.captionCenter }}</p>
                {% endif %}
            </td>
            <td style="width: 33%; padding:10px;">
                {% if data.titleRight %}
                    <h2>{{ data.titleRight }}</h2>
                {% endif %}
                {% if data.fileRight %}
                    <img src="{{ media_url(data.fileRight, 'container_width') }}" style="width:100%;">
                {% endif %}
                {% if data.captionRight %}
                    <p style="font-size: 13px;margin-top: 5px;">{{ data.captionRight }}</p>
                {% endif %}
            </td>
        </tr>
    </table>
</div>