{% for item in cart.items %}
    <div>
        {% if not immutable %}<form action="{{ path('enhavo_shop_theme_cart_save_quantity', {id: item.id, _format: 'json'}) }}" method="POST" data-form-cart-quantity data-item-id="{{ item.id }}">{% endif %}
            <h2>{{ item.product.title }}</h2>

            {% if immutable %}
                <div>Quantity: {{ item.quantity }}</div>
            {% else %}
                <div><input type="text" name="quantity" value="{{ item.quantity }}" /></div><button type="submit">Save</button>
            {% endif %}

            <div>Unit Price: <span data-cart-item-unit-price>{{ item.product.price }}</span></div>
            <div>Unit Tax: <span data-cart-item-unit-tax>{{ item.product.tax }}</span></div>
            <div>Unit Total: <span data-cart-item-unit-total>{{ item.product.unitPriceTotal }}</span></div>

            <div>Tax Total: <span data-cart-item-tax-total>{{ item.taxTotal }}</span></div>
            <div>Net Total: <span data-cart-item-unit-price-total>{{ item.unitPriceTotal }}</span></div>
            <div>Total: <span data-cart-item-total>{{ item.total }}</span></div>

            {% if not immutable %}
                <a data-cart-item-remove href="{{ path('enhavo_shop_theme_cart_item_remove', {id: item.id}) }}">Delete</a>
            {% endif %}
        {% if not immutable %}</form>{% endif %}
    </div>
{% endfor %}
<hr />
<div>
    Total: <span data-cart-total>{{ cart.total }}</span>
</div>
<div>
    Netto: <span data-cart-unit-price-total>{{ cart.unitPriceTotal }}</span>
</div>
<div>
    Unit Total: <span data-cart-unit-total>{{ cart.unitTotal }}</span>
</div>
<div>
    Shipping: <span data-cart-shipping-total>{{ cart.shippingTotal }}</span>
</div>
<div>
    Discount: <span data-cart-discount-total>{{ cart.discountTotal }}</span>
</div>
<div>
    Tax: <span data-cart-tax-total>{{ cart.taxTotal }}</span>
</div>