<div class="row p1 head-row">
    <div class="col-md-1">{{ 'label.id'|trans }}</div>
    <div class="col-md-5">{{ 'label.title'|trans }}</div>
    <div class="col-md-3">{{ 'label.publication_date'|trans }}</div>
</div>

<div class="row-container">
    {% for item in data %}
        <div class="row mb1 entry-row p1" data-id="{{ item.id }}">
            <div class="col-md-1">{{ item.id }}</div>
            <div class="col-md-5">{{ item.title }}</div>
            <div class="col-md-3">{{ item.publicationDate|date("d.m.Y") }}</div>
        </div>
    {% else %}
        {{ 'table.empty'|trans }}
    {% endfor %}
</div>
