<div class="row p1 head-row">
    <div class="col-md-1">{{ 'label.id'|trans }}</div>
    <div class="col-md-7">{{ 'label.title'|trans }}</div>
    <div class="col-md-4">{{ 'label.publication_date'|trans }}</div>
</div>

<div class="row row-container">
    <div class="col-md-12">
        {% for item in data %}
            <div class="col-md-12 mb1 entry-row p1" data-id="{{ item.id }}">
                <div class="col-md-1">{{ item.id }}</div>
                <div class="col-md-7">{{ item.title }}</div>
                <div class="col-md-4">{{ item.publicationDate|date("d.m.Y") }}</div>
            </div>
        {% else %}
            {{ 'table.empty'|trans }}
        {% endfor %}
    </div>
</div>
