<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <title>{% block title %}enhavo{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <meta name="robots" content="noindex, nofollow">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    {% block stylesheets %}
        {{ vite_css_tags('entrypoints/application.js', 'admin') }}
    {% endblock %}
</head>
<body>
{% block content %}
    <div id="app"></div>
{% endblock %}
{% if data is defined %}
    <script id="data" type="application/json">{{ data|json_encode|e }}</script>
{% endif %}
{% block routes %}
    {% if routes is defined %}
        <script id="routes" type="application/json">{{ routes|json_encode|e }}</script>
    {% else %}
        <script id="routes" type="application/json">{"base_url":"","routes":{}}</script>
    {% endif %}
{% endblock %}
{#{% block translations %}#}
{#    {% if translations is defined %}#}
{#        <script id="translations" type="application/json">{{ translations|json_encode|e }}</script>#}
{#    {% endif %}#}
{#{% endblock %}#}
{% block javascripts %}
    {{ vite_js_tags('entrypoints/application.js', 'admin') }}
    {{ vite_js_preload_tags('entrypoints/application.js', 'admin') }}
{% endblock %}
</body>
</html>