{% extends template('theme/base.html.twig') %}
{% trans_default_domain 'EnhavoUserBundle' %}

{% block main %}
    <form action="{{ path("enhavo_user_theme_reset_password_confirm") }}" method="POST">
        {{ form_row(form.plainPassword) }}
        <button type="submit">{{ 'confirm.form.action.reset'|trans|nl2br }}</button>
        <a href="{{ path('enhavo_user_theme_security_login') }}">{{ 'reset.label.login'|trans|nl2br }}</a>
        {{ form_row(form._token) }}
    </form>
{% endblock %}
