{% extends template('theme_base') %}

{% block bodyclass %}light{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/enhavoshop/js/Shop.js') }}"></script>
{% endblock %}

{% block text_widget %}
    <input data-label="{{ label }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}"{% endif %} type="text" />
{% endblock %}

{% block email_widget %}
    <input data-label="{{ label }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}"{% endif %} type="email" />
{% endblock %}

{% block textarea_widget %}
    <textarea data-label="{{ label }}" {{ block('widget_attributes') }}>{{ value }}</textarea>
{% endblock %}

{% block number_widget %}
    <input data-label="{{ label }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}"{% endif %} type="number" />
{% endblock %}


{% block main %}

    {% form_theme form _self %}

    <section class="container" id="addressing-form">
        <h2>Addressing</h2>
        <form action="{{ path('enhavo_shop_theme_checkout_addressing') }}" method="POST" data-checkout-form novalidate>
            {{ form_errors(form) }}
            {% if form.email is defined %}
                {{ form_row(form.email) }}
            {% endif %}
            <fieldset class="row">
                <div class="col-sm-6 form-column">
                    {{ form_label(form.shippingAddress.firstName) }}
                    {{ form_widget(form.shippingAddress.firstName) }}
                </div>
                <div class="col-sm-6 form-column">
                    {{ form_label(form.shippingAddress.lastName) }}
                    {{ form_widget(form.shippingAddress.lastName) }}
                </div>
            </fieldset>
            <fieldset class="row">
                <div class="col-sm-6 form-column">
                    {{ form_label(form.shippingAddress.phoneNumber) }}
                    {{ form_widget(form.shippingAddress.phoneNumber) }}
                </div>
                <div class="col-sm-6 form-column">
                    {{ form_label(form.shippingAddress.company) }}
                    {{ form_widget(form.shippingAddress.company) }}
                </div>
            </fieldset>
            <fieldset class="row">
                <div class="col-md-3 col-sm-6 form-column">
                    {{ form_label(form.shippingAddress.countryCode) }}
                    <div class="styled-select">
                        {{ form_widget(form.shippingAddress.countryCode) }}
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 form-column">
                    {{ form_label(form.shippingAddress.street) }}
                    {{ form_widget(form.shippingAddress.street) }}
                </div>
                <div class="col-md-3 col-sm-6 form-column">
                    {{ form_label(form.shippingAddress.city) }}
                    {{ form_widget(form.shippingAddress.city) }}
                </div>
                <div class="col-md-3 col-sm-6 form-column">
                    {{ form_label(form.shippingAddress.postcode) }}
                    {{ form_widget(form.shippingAddress.postcode) }}
                </div>
            </fieldset>
            {#abweichende Rechnungsadresse#}
            <fieldset class="different-billing-address">
                <div class="styled-checkbox">
                    {{ form_widget(form.differentBillingAddress) }}
                    <span></span>
                    {{ form_label(form.differentBillingAddress) }}
                </div>
            </fieldset>
            <span {% if not order.differentBillingAddress %}style="display: none"{% endif %} data-checkout-billing-address>
                <fieldset class="row">
                    <div class="col-sm-6 form-column">
                        {{ form_label(form.billingAddress.firstName) }}
                        {{ form_widget(form.billingAddress.firstName) }}
                    </div>
                    <div class="col-sm-6 form-column">
                        {{ form_label(form.billingAddress.lastName) }}
                        {{ form_widget(form.billingAddress.lastName) }}
                    </div>
                </fieldset>
                <fieldset class="row">
                    <div class="col-sm-6 form-column">
                        {{ form_label(form.billingAddress.phoneNumber) }}
                        {{ form_widget(form.billingAddress.phoneNumber) }}
                    </div>
                    <div class="col-sm-6 form-column">
                        {{ form_label(form.billingAddress.company) }}
                        {{ form_widget(form.billingAddress.company) }}
                    </div>
                </fieldset>
                <fieldset class="row">
                    <div class="col-md-3 col-sm-6 form-column">
                        {{ form_label(form.billingAddress.countryCode) }}
                        <div class="styled-select">
                            {{ form_widget(form.billingAddress.countryCode) }}
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 form-column">
                        {{ form_label(form.billingAddress.street) }}
                        {{ form_widget(form.billingAddress.street) }}
                    </div>
                    <div class="col-md-3 col-sm-6 form-column">
                        {{ form_label(form.billingAddress.city) }}
                        {{ form_widget(form.billingAddress.city) }}
                    </div>
                    <div class="col-md-3 col-sm-6 form-column">
                        {{ form_label(form.billingAddress.postcode) }}
                        {{ form_widget(form.billingAddress.postcode) }}
                    </div>
                </fieldset>
            </span>
            {{ form_row(form._token) }}
            <button type="submit" class="btn aubergine rounded checkout">Senden</button>
        </form>
    </section>
{% endblock %}