<div class="enhavo_grid row">
    <div class="enhavo_grid_texttext">
        {% if data.title %}
            <h2 class="title col-sm-12">{{ data.title }}</h2>
        {% endif %}
        {% if data.layout == 1 %}
            <div class="col-sm-4 left6">
                <div class="enhavo_grid_text">
                    {% if data.titleLeft %}
                        <h4>{{ data.titleLeft }}</h4>
                    {% endif %}
                    {% if data.textLeft %}
                        {{ data.textLeft|raw }}
                    {% endif %}
                </div>
            </div>
            <div class="col-sm-8 right6">
                <div class="enhavo_grid_text">
                    {% if data.titleRight %}
                        <h4>{{ data.titleRight }}</h4>
                    {% endif %}
                    {% if data.textRight %}
                        {{ data.textRight|raw }}
                    {% endif %}
                </div>
            </div>
        {% elseif data.layout == 2 %}
            <div class="col-sm-8 left6">
                <div class="enhavo_grid_text">
                    {% if data.titleLeft %}
                        <h4>{{ data.titleLeft }}</h4>
                    {% endif %}
                    {% if data.textLeft %}
                        {{ data.textLeft|raw }}
                    {% endif %}
                </div>
            </div>
            <div class="col-sm-4 right6">
                <div class="enhavo_grid_text">
                    {% if data.titleRight %}
                        <h4>{{ data.titleRight }}</h4>
                    {% endif %}
                    {% if data.textRight %}
                        {{ data.textRight|raw }}
                    {% endif %}
                </div>
            </div>
        {% elseif data.layout == 0 %}
            <div class="col-sm-6 left6">
                <div class="enhavo_grid_text">
                    {% if data.titleLeft %}
                        <h4>{{ data.titleLeft }}</h4>
                    {% endif %}
                    {% if data.textLeft %}
                        {{ data.textLeft|raw }}
                    {% endif %}
                </div>
            </div>
            <div class="col-sm-6 right6">
                <div class="enhavo_grid_text">
                    {% if data.titleRight %}
                        <h4>{{ data.titleRight }}</h4>
                    {% endif %}
                    {% if data.textRight %}
                        {{ data.textRight|raw }}
                    {% endif %}
                </div>
            </div>
        {% endif %}
    </div>
</div>