<div class="row">
    <div class="batch-actions-wrapper">
        <div class="batch-checkbox-wrapper batch-select-all">
            <input type="checkbox"/>
        </div>
        <div class="batch-actions-select-wrapper">
            <select data-batch-actions-select name="batchActionCommand">
                {% for command, action in viewer.batchactions %}
                    <option value="{{ command }}" data-confirm-message="{{ action['confirm_message'] }}">{{ action['label'] }}</option>
                {% endfor %}
            </select>
        </div>
        {% import _self as dialogTemplates %}
        <div class="batch-actions-submit-wrapper">
            <button data-batch-actions-submit class="btn disabled"
                    data-confirm-dialog-template="{{ dialogTemplates.confirmDialog()|e }}"
                    data-error-dialog-template="{{ dialogTemplates.errorDialog()|e }}"
                    data-message-none-selected="{{ 'table.batch.error.noneSelected'|trans({}, 'EnhavoAppBundle') }}"
                    data-message-no-action-selected="{{ 'table.batch.error.noActionSelected'|trans({}, 'EnhavoAppBundle') }}"
                    data-batch-action-route="{{ viewer.batchActionRoute }}">
                    <i class="icon-check-1"></i> {{ 'table.batch.action.submit'|trans({}, 'EnhavoAppBundle') }}
            </button>
        </div>
    </div>
</div>

{% macro confirmDialog() %}
    <div data-batch-actions-confirm-dialog class="batch-actions-dialog batch-actions-dialog-confirm">
        <div class="batch-actions-dialog-content">
            <i class="batch-actions-dialog-icon batch-actions-dialog-icon-warning icon-warning"></i>
            <span>__confirm_message__</span>
        </div>
        <div class="batch-actions-dialog-buttons">
            <button class="btn close"><i class="icon-cancel"></i> {{ 'table.batch.message.confirm.no'|trans({}, 'EnhavoAppBundle') }}</button>
            <button class="btn" data-batch-action-confirm><i class="icon-ok"></i> {{ 'table.batch.message.confirm.yes'|trans({}, 'EnhavoAppBundle') }}</button>
        </div>
    </div>
{% endmacro %}

{% macro errorDialog() %}
    <div data-batch-actions-none-selected-dialog class="batch-actions-dialog batch-actions-dialog-error">
        <div class="batch-actions-dialog-content">
            <i class="batch-actions-dialog-icon batch-actions-dialog-icon-error icon-cancel-circled"></i>
            <span>__message__</span>
        </div>
        <div class="batch-actions-dialog-buttons">
            <button class="btn close"><i class="icon-cancel"></i> {{ 'table.batch.error.close'|trans({}, 'EnhavoAppBundle') }}</button>
        </div>
    </div>
{% endmacro %}
