{% extends '::admin.html.twig' %}

{% block javascripts %}
    <script type="text/javascript">
        $(function() {
            admin.initPagination('{{ admin.tableRoute }}');
            admin.initTable();
            admin.initTopButton('.action .btn.create', {}, '{{ admin.createRoute }}');
            admin.initAfterSaveHandler();
        });
    </script>
{% endblock %}

{% block content %}
    {% block topButtons %}
    {% endblock %}

    {% block table %}
        <div class="table-container" data-edit-route="{{ admin.editRoute }}" data-refresh-route="{{ admin.tableRoute }}">
            {% include admin.config.getTemplate('table') %}
        </div>
    {% endblock %}

    {{ pagination_render(data) }}
{% endblock %}