{% block form %}
    <form method="post" action="{{ path('enhavo_contact_submit', { name: name }) }}" data-contact-form>
        <div class="row npam">
            <div class="col-sm-6 npam">
                {{ form_widget(form.email, {'attr': {'type': 'text','placeholder': 'email', 'name': 'email', 'id': 'email'}}) }}
                {{ form_widget(form.firstName, {'attr': {'type': 'text','placeholder': 'firstname', 'name': 'firstname', 'id': 'firstname'}}) }}
                {{ form_widget(form.lastName, {'attr': {'type': 'text','placeholder': 'lastname', 'name': 'lastname', 'id': 'lastname'}}) }}
            </div>
            <div class="col-sm-6 npam">
                {{ form_widget(form.message, {'attr': {'name': 'message','id': 'message'}}) }}
                {{ form_row(form._token) }}
                <button type="submit" class="button blue"><i class="icon-forward"></i></button>
            </div>
        </div>
        <div class="contact-form-response-container" data-response-container></div>
    </form>
{% endblock %}