{% for article in articles %}
    <article class="clearfix" data-article-item="1">
        <a href="{{ path('enhavo_project_article_show', {slug: article.slug}) }}" class="row npam">
            {% if article.picture %}
                <span class="article-photo">
                    <img src="{{ media_url(article.picture, 'articleThumbnail') }}" alt=""/>
                </span>
                {% else %}
                <span class="article-photo">
                    <img src="{{ asset('/bundles/enhavoproject/img/default-article-picture.jpg') }}" alt=""/>
                </span>
            {% endif %}
            <span class="article-content">
                <h3 class="title">{{ article.title }}</h3>
                {% for category in article.categories %}
                <p class="category cat capitals">{{ category }}</p>
                {% endfor %}
                <p class="desc">{{ article.teaser }}</p>
                <span href="" class="capitals readmore-link">...more</span>
                <p class="date">{{ article.publicationDate|date('m d Y') }}</p>
            </span>
        </a>
        <span class="readmore-btn" data-tablet-btn></span>
    </article>
{% endfor %}
