{% extends 'EnhavoProjectBundle:Theme:base.html.twig' %}

{% block hero %}
    {{ theme_widget_render('slider', {template:'EnhavoProjectBundle:Theme:Widget/slider.html.twig'}) }}
{% endblock %}


{% block main %}
    <div class="clearfix page-wrap">
        <section id="article-feed">
            <div class="white-bg"></div>
            <div class="articles" data-article-container>
                <div class="container">
                    <h2>ACME Online</h2>
                    <p class="capitals spacing cat" data-article-section-subline>recent articles</p>
                </div>
                <div class="container article-container">
                    <div class="mobile-app">
                        <div class="speechbubble">
                            <p>New! <br/>Available <br/>as app</p>
                        </div>
                        <img src="/bundles/enhavoproject/img/ipad.png" alt=""/>
                    </div>
                    <div class="articles-head" data-toggle-dropdown>
                        <div class="category capitals"><span data-current-category>All</span> <i class="icon-chevron-thin-down"></i></div>
                        <ul class="dropdown" data-dropdown>
                            <li><a href="" data-category="0">All</a></li>
                            {% for category in categories %}
                                <li><a href="" data-category="{{ category.id }}">{{ category }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="articles" data-article-stream>
                        {% include 'EnhavoProjectBundle:Theme:Homepage/articles.html.twig' %}
                    </div>
                    <div class="load-articles">
                        <a href="#" class="capitals" data-more-articles>
                            Load more articles <br/>
                            <i class="icon-circle-with-plus"></i>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        {#{{ theme_box_render('sidebar') }}#}
    </div>

    <section id="image-text">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 image">
                    <img src="/bundles/enhavoproject/img/magazine.png" alt=""/>
                    <div class="stoerer">
                        <p>Our <br/>new <br/>edition</p>
                    </div>
                </div>
                <div class="col-sm-6 text">
                    <h2>Now available in your local newsagency</h2>
                    <p>This is Enhavo's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo.</p>
                </div>
            </div>
        </div>
    </section>

    <section id="categories" class="clearfix">
        <div class="row npam">
            {% for category in categories|slice(0, 3) %}
            <div class="{% if categories|length == 2 %}col-md-6{% endif %}{% if categories|length > 2 %}col-md-4{% endif %} col-sm-6 col-xs-12 npam category" data-category-item>
                <a href="">
                    <span class="cat-image">
                        <span class="over">
                            <p class="capitals cat-name">{{ category }}</p>
                        </span>
                        {% if category.picture %}
                            <img src="{{ media_url(category.picture) }}" alt=""/>
                            {% else %}
                            <img src="/bundles/enhavoproject/img/default-category-picture.jpg" alt=""/>
                        {% endif %}
                    </span>
                    <span class="text-bottom">
                        <p class="article-excerpt">{{ category.text|raw }}<span class="readmore-link capitals" href="">view articles</span></p>
                    </span>
                </a>
            </div>
            {% endfor %}
        </div>
    </section>

    {{ theme_widget_render('contact',  { template: 'EnhavoProjectBundle:Theme:Widget/contact-form.html.twig'}) }}
{% endblock %}