{% block enhavo_translation_translation_widget %}
    <div data-translation-type="{{ translation_locales|json_encode|e }}" class="translation">
        {% for locale,child in form.children %}
            <div data-translation-widget="{{ locale }}" {% if loop.index0 != 0 %}style="display: none"{% endif %}>
                {{ form_widget(child) }}
            </div>
        {% endfor %}

        <div class="translation-switcher" data-translation-switcher>
            <div class="translation-switcher-current" data-translation-switcher-current></div>
            <div class="translation-switcher-menu">
                {% for locale in translation_locales %}
                    <div class="translation-switcher-item" data-translation-switch="{{ locale }}">{{ locale }}</div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
