{% block enhavo_shop_payment_widget %}
    {% trans_default_domain 'EnhavoShopBundle' %}
    {% for key, checkbox in form.method.children %}
        <div class="payment-choice-{{ checkbox.vars.label }}">
            <label>{{ ('checkout.payment.form.label.' ~ checkbox.vars.label)|trans }}</label>
            {{ form_widget(checkbox) }}
        </div>
    {% endfor %}
{% endblock %}

{% block sylius_promotion_coupon_to_code_widget %}
    <div data-coupon-redeem-input {% if form.vars.data %}style="display: none"{% endif %}>
        {{ form_widget(form) }}
    </div>
    <div data-coupon-redeem-value {% if not form.vars.data %}style="display: none"{% endif %}>
        <span data-coupon-redeem-value-field>{{ form.vars.data }}</span> <a data-coupon-cancel>x</a>
    </div>
{% endblock %}