<div style="padding-top: 10px; padding-bottom: 10px;">
    <div style="margin-left: 0;margin-right: 0;">
        {% if data.title %}
            <h2>{{ data.title|raw }}</h2>
        {% endif %}
        <table border="0">
            <tr>
                <td style="padding: 10px;">
                    {% if data.fileLeft %}
                        <img src="{{ media_url(data.fileLeft, 'enhavoGridFull') }}" style="width:100%;">
                    {% endif %}
                    {% if data.captionLeft %}
                        <p style="font-size: 13px;margin-top: 5px;">{{ data.captionLeft }}</p>
                    {% endif %}
                </td>
                <td style="padding: 10px;">
                    {% if data.fileRight %}
                        <img src="{{ media_url(data.fileRight, 'enhavoGridFull') }}" style="width:100%;">
                    {% endif %}
                    {% if data.captionRight %}
                        <p style="font-size: 13px;margin-top: 5px;">{{ data.captionRight }}</p>
                    {% endif %}
                </td>
            </tr>
        </table>
    </div>
</div>