{% if display %}
    <li>
        <button
            data-button
            data-type="{{ type }}"
            {{ block('button_attributes') }}
            class="btn">
            <i class="button-icon icon-{{ icon }}"></i>
            {{ label|trans({},  translationDomain)|nl2br }}
        </button>
        {{ block('additional') }}
    </li>
{% endif %}