{% extends theme_template('base') %}


{% block main %}
    <form action="{{ path('enhavo_search_theme_submit') }}" data-search-form>
        <input type="text" name="q" value="{{ expression }}" placeholder="Search for article"/>
        <button type="submit"><i class="icon-search"></i></button>
    </form>

    {% if results is iterable %}
        {% for result in results %}
            <div style="border-bottom: 5px solid #e4e6ea;" class="entry-row">
                <div class="row">
                    <div class="col-xs-12">
                        <h1>{{ result.resource.title|raw }}</h1>
                        {{ result.highlightedText|raw }}
                        <a href="{{ resolve_url(result.resource) }}">{{ result.resource.title|raw }}</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        {% if expression %}
            {{ results|nl2br }}
        {% endif %}
    {% endif %}
{% endblock %}