{% extends template('theme/base.html.twig') %}

{% block main %}
    <form action="{{ path('enhavo_search_theme_submit') }}" data-search-form>
        <input type="text" name="q" value="{{ term }}" placeholder="Search for article"/>
        <button type="submit"><i class="icon-search"></i></button>
    </form>

    {% for result in results %}
        <div class="entry-row">
            <div class="row">
                <div class="col-xs-12">
                    <h1>{{ result.title }}</h1>
                    {{ result.text|raw }}
                    <a href="{{ router(result.subject) }}">{{ result.title }}</a>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
