{% trans_default_domain 'EnhavoAppBundle' %}

<div
    class="block-app block-list {% if update_route %}updateable{% endif %}"
    data-block
    data-block-app="{{ app }}"
    data-block-type="list"
    data-block-list-route="{{ list_route }}"

    {% if list_route_parameters %}data-block-list-route-parameters="{{ list_route_parameters|json_encode }}"{% endif %}
    {% if update_route_parameters %}data-block-update-route-parameters="{{ update_route_parameters|json_encode }}"{% endif %}
    {% if update_route %}data-block-update-route="{{ update_route }}"{% endif %}>

    <div data-list></div>
</div>