<div class="block">
    <div class="block-article-list">
        <div class="title">Articles</div>
        {% for resource in resources %}
            <article>
                <div class="article-thumb"><img src="{{ media_url(resource.picture) }}"></div>
                <div class="article-content">
                    <div class="article-date">{{ resource.publicationDate|date('d.m.y') }}</div>
                    <div class="article-title">{{ resource.title }}</div>
                    <div class="article-teaser">{{ resource.teaser|html_sanitize }}</div>
{#                    <a href="{{ router(resource) }}" class="btn">Read more</a>#}
                </div>
            </article>
        {% endfor %}

        <ul class="pagination">
            <li class="prev"><a href="">Prev</a></li>
            <li class="active"><a href="">1</a></li>
            <li><a href="">2</a></li>
            <li><a href="">3</a></li>
            <li><a href="">4</a></li>
            <li><a href="">5</a></li>
            <li class="next"><a href="">Next</a></li>
        </ul>
    </div>
</div>