{% if form.link is defined %}{{ form_row(form.link) }}{% endif %}
{% if form.route is defined %}{{ form_row(form.route) }}{% endif %}
{{ form_row(form.title) }}
{{ form_row(form.subject) }}
{{ form_row(form.text) }}
{% if form.workflow_status is defined %}
    {{ form_row(form.workflow_status) }}
{% endif %}
{% trans_default_domain "EnhavoNewsletterBundle" %}
<div class="row mb1">
   <label class="col-md-2 text-right label-container">
        {{ 'newsletter.label.sent'|trans|nl2br }}
    </label>
    <div class="col-md-9 formwidget-container" style="padding-top: 4px;">
        {% if data.sent %}
            <i id="sent" class="icon-check"
               data-newsletter-sent
               data-sent-text="{{ 'newsletter.action.sent.again'|trans }}"></i>
        {% else %}
            <i id="not-sent" class="icon-cross"></i>
        {% endif %}
    </div>
</div>
