{% extends 'EnhavoAppBundle::dialog.html.twig' %}

{% trans_default_domain "EnhavoNewsletterBundle" %}
{% block content %}
    <form method="POST"
          action="{{ path(view.getParameter('edit_route'), { id: data.id }) }}"
          data-delete-url="{{ path(view.getParameter('delete_route'), { id: data.id }) }}"
            {% if view.getParameter('preview_route') %}
                data-preview-url="{{ path(view.getParameter('preview_route'), { id: 'preview' }) }}"
            {% endif %}
            >
        {% block form %}
            <!--<input id="enhavo_newsletter_newsletter_id" name="enhavo_newsletter_newsletter[id]" required="required" value="{*{ data.id }}" type="hidden">-->
            {% include view.getParameter('form_template') %}
        {% endblock %}
        {{ block('buttonRow') }}
    </form>
{% endblock %}

{% block buttons %}
    <script type="text/javascript" src="{{ asset('bundles/enhavonewsletter/js/NewsletterForm.js') }}"></script>
    <div class="col-md-push-2 col-md-2">
        <button class="btn col-md-12 close"><i class="fa fa-times"></i> {{ 'label.cancel'|trans('EnhavoAppBundle') }}</button>
    </div>
    <div class="col-md-push-2 col-md-2">
        <button class="btn col-md-12 save" type="button"><i class="fa fa-check"></i> {{ 'label.save'|trans('EnhavoAppBundle') }}</button>
    </div>
    <div class="col-md-push-2 col-md-2">
        <button class="btn col-md-12 delete" type="button"><i class="fa fa-trash"></i> {{ 'label.delete'|trans('EnhavoAppBundle') }}</button>
    </div>
    <div class="col-md-push-2 col-md-2">
        <button class="btn col-md-12 send" type="button"><i class="fa fa-check"></i> {{ 'newsletter.action.send'|trans }}</button>
    </div>
    {% if view.getParameter('preview_route') %}
        <div class="col-md-push-2 col-md-2">
            <button class="btn col-md-12 preview" type="button"><i class="fa fa-eye"></i> {{ 'label.preview'|trans('EnhavoAppBundle') }}</button>
        </div>
    {% endif %}
{% endblock %}
