{% extends '::admin.html.twig' %}

{% block javascripts %}
    <script type="text/javascript">
        $(function() {
            admin.initPagination('{{ view.getParameter('table_route') }}');
            admin.initTable();
            admin.initTopButton('.action .btn.create', {}, '{{ view.getParameter('create_route') }}');
            admin.initAfterSaveHandler();

            $(document).on('formOpenAfter', function(event, form) {
                initSend(form);
            });

            var initSend = function(form) {
                $('#overlayContent').on('click','.send', function() {
                    form = $(form);
                    var data = form.serialize();
                    var action = form.attr('action')+"/send";
                    $.ajax({
                        type: 'POST',
                        data: data,
                        url: action,
                        success: function(data) {
                            $('.icheckbox-enhavo').addClass('checked');
                            admin.overlayMessage("Der Newsletter wurde gesendet!", 'info');

                        },
                        error: function(jqXHR) {
                            var data = JSON.parse(jqXHR.responseText);

                            admin.overlayMessage(translator.trans('error.occurred'), 'error');
                        }
                    });
                })
            };


        });
    </script>
{% endblock %}

{% block content %}
    {% block topButtons %}
        <div class="row mb3 action">
            <div class="col-md-3">
                <button class="btn create col-md-12"><i class="icon-plus-sign"></i> {{ view.getParameter('add_button_text')|trans }}</button>
            </div>
        </div>
    {% endblock %}

    {% block table %}
        <div class="table-container" data-edit-route="{{ view.getParameter('edit_route') }}" data-refresh-route="{{ view.getParameter('table_route') }}">
            {% include view.getParameter('table_template') %}
        </div>
    {% endblock %}

    {{ pagination_render(data) }}
{% endblock %}
