{% trans_default_domain "EnhavoNewsletterBundle" %}
<div class="row p1 head-row">
    <div class="col-md-5">{{ 'label.title'|trans({}, 'EnhavoAppBundle') }}</div>
    <div class="col-md-2">{{ 'newsletter.label.sent'|trans }}</div>
</div>

<div class="row row-container">
    <div class="col-md-12">
        {% for item in data %}
            <div class="col-md-12 mb1 entry-row p1" data-id="{{ item.id }}">
                <div class="col-md-5">{{ item.title }}</div>
                <div class="col-md-2">{% if item.sent == 1 %}<i class="fa fa-check"></i>{% else %}<i class="fa fa-times"></i>{% endif %}</div>
            </div>
        {% else %}
            {{ 'table.empty'|trans('EnhavoAppBundle') }}
        {% endfor %}
    </div>
</div>