{% extends 'form_div_layout.html.twig' %}

{% block enhavo_datetime_widget -%}
    <div class="input-container">
        <input class="datetimepicker" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}"{% endif %} type="text" />
    </div>
{%- endblock %}

{% block enhavo_date_widget -%}
    <div class="input-container">
        <input class="datepicker" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}"{% endif %} type="text" />
    </div>
{%- endblock %}

{% block choice_widget_expanded %}
    {% if list %}<div class="choice-list">{% endif %}
        <div class="choice-input-container" {{ block('widget_container_attributes') }}>
            {%- for child in form %}
                <span class="choice-input-with-label">
                {{- form_widget(child) -}}
                {{- form_label(child) -}}
            </span>
            {% endfor -%}
        </div>
    {% if list %}</div>{% endif %}
{% endblock %}

{% block form_row %}
    {% spaceless %}
        <div class="form-row" data-form-row>
            <div class="label-help-container">
                <div class="label">{{ form_label(form) }}</div>
                {% if help %}
                    <div class="help-container">
                        <i data-help-text class="help-icon icon icon-help"></i>
                        <div class="help-text" data-help-text>{{ help|trans({}, translation_domain) }}</div>
                    </div>
                {% endif %}
            </div>
            <div class="formwidget-container" data-formwidget-container>
                {{ form_widget(form) }}
            </div>
        </div>
    {% endspaceless %}
{% endblock %}

{% block text_widget %}
    <input {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}"{% endif %} type="text" />
{% endblock %}

{% block textarea_widget %}
    <textarea {{ block('widget_attributes') }}>{{ value }}</textarea>
{% endblock %}

{% block password_widget %}
    <div class="input-container">
        <input {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}"{% endif %} type="password" />
    </div>
{% endblock %}

{% block enhavo_wysiwyg_widget %}
    <div class="wysiwyg-container">
        <textarea data-wysiwyg data-config="{{ config|e }}" {{ block('widget_attributes') }}>{{ value }}</textarea>
    </div>
{% endblock %}

{% block enhavo_route_widget %}
    {{ form_widget(form.staticPrefix) }}
{% endblock %}

{% block enhavo_list_widget %}
    {% import _self as forms %}
    <div data-list class="list-type">
        <ul
                data-list-container
                {% if sortable %} data-order="{{ sortable_property }}"{% endif %}
                data-prototype="{% if form.vars.prototype is defined %}{{ forms.input(sortable, border, allow_delete, null, null, form_widget(form.vars.prototype))|e }}{% endif %}"
                data-prototype-name="{{ prototype_name }}"
                class="list-fields
        {% if border and sortable and allow_delete %}
            sortable-border-delete
        {% elseif sortable and allow_delete and not border %}
            sortable-delete
        {% elseif border and allow_delete and not sortable %}
            border-delete
        {% elseif allow_delete and not sortable and not border %}
            delete
        {% elseif border and not allow_delete and not sortable %}
            border
        {% elseif sortable and not border and not allow_delete %}
            sortable
        {% elseif sortable and border and not allow_delete %}
            sortable-border
        {% endif %}"
                data-reindexable
                {{ block('widget_attributes') }}>
            {% for item in form.children %}
                {{ forms.input(sortable, border, allow_delete, null, null, form_widget(item))|raw }}
            {% endfor %}
        </ul>

        {% if allow_add %}
            <div class="btnsmall" data-add-button>
                <i class="icon-circle-with-plus"></i>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% macro input(sortable, border, allow_delete, block_name, name, form_widget) %}
    <li class="listElement" data-list-item>
        {% if sortable or allow_delete %}
            {% spaceless %}
                <ul class="buttons-container" data-list-item-buttons>
                    {% if sortable %}
                        <li class="button button-up" data-list-item-up><i class="icon-chevron-up"></i></li>
                        <li class="button button-down" data-list-item-down><i class="icon-chevron-down"></i></li>
                    {% endif %}
                    {% if allow_delete %}
                        <li class="button button-delete" data-list-item-delete>
                            <i class="icon-cross"></i>
                        </li>
                    {% endif %}
                </ul>
            {% endspaceless %}
        {% endif %}
        {% if block_name or name %}
            <div class="block-name">{% if block_name %}{{ block_name|nl2br }}{% else %}{{ name|nl2br }}{% endif %}</div>
        {% endif %}
        {{ form_widget|raw }}
    </li>
{% endmacro %}

{% block enhavo_message_widget %}
    <div class="form-message-box type-{{ type }}">
        {{ message|nl2br }}
    </div>
{% endblock %}

{% block email_widget %}
    <div class="input-container">
        <input {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}"{% endif %} type="text" />
    </div>
{% endblock %}

{% block integer_widget %}
    <div class="input-container">
        <input {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}"{% endif %} type="text" />
    </div>
{% endblock %}

{% block number_widget %}
    <div class="input-container">
        <input {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}"{% endif %} type="text" />
    </div>
{% endblock %}

{% block enhavo_dynamic_form_widget %}
    {% import _self as helper %}
    
    <div class="mb1 enhavo-dynamic-form"
         data-dynamic-form
         data-dynamic-form-name="{{ full_name }}"
         data-dynamic-form-add-button-template="{{ helper.addButton()|e }}"
         data-dynamic-config="{{ dynamic_config|json_encode|e }}"
    >

        <div class="dynamic-form-actions" data-dynamic-form-action>
            <div data-dynamic-form-action-collapse-all>
                <i class="icon-collapse"></i>
            </div>
            <div data-dynamic-form-action-expand-all>
                <i class="icon-expand"></i>
            </div>
        </div>

        {{ helper.addDialogue(items) }}

        <div class="dynamic-form-container" data-reindexable data-dynamic-form-container>

            {{ helper.addButton() }}
            {% for item in form %}
                {{ form_widget(item) }}
                {% if loop.last %}
                    {{ helper.addDialogue(items) }}
                {% else %}
                    {{ helper.addButton() }}
                {% endif %}
            {% endfor %}
        </div>

    </div>
{% endblock %}

{% block enhavo_dynamic_item_widget %}
    <div class="dynamic-form-item" data-dynamic-form-item>
        <div class="button-container" data-dynamic-form-item-action>
            <div class="button button-up" data-dynamic-form-item-action-up>
                <i class="icon icon-keyboard_arrow_up"></i>
            </div>
            <div class="button button-down" data-dynamic-form-item-action-down>
                <i class="icon icon-keyboard_arrow_down"></i>
            </div>
            <div class="button button-delete" data-dynamic-form-item-action-remove>
                <i class="icon icon-close"></i>
            </div>
            <div class="button button-collapse" data-dynamic-form-item-action-collapse>
                <i class="icon icon-visibility_off"></i>
            </div>
            <div class="button button-expand" data-dynamic-form-item-action-expand>
                <i class="icon icon-visibility"></i>
            </div>
            <div class="label">{{ label|trans({}, translation_domain)|nl2br }}</div>
        </div>

        <div data-dynamic-form-item-container>
            {% if item_template %}
                {% include item_template %}
            {% else %}
                {% for child in form %}
                    <div class="clearfix" data-form-row>
                        <div class="col-md-2 label-container">{{ form_label(child) }}</div>
                        <div class="col-md-10">{{ form_widget(child) }}</div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}

{% macro addButton() %}
    <div class="dynamic-form-item-add-button" data-dynamic-form-add-button>
        <i class="icon icon-add_circle"></i>
    </div>
{% endmacro %}

{% macro addDialogue(items) %}
    <div class="dynamic-form-menu-dialogue" data-dynamic-form-menu>
        <div class="label">+ Neues Modul</div>
        <ul class="item-list">
            {% for item in items %}
                <li data-dynamic-form-menu-item="{{ item.name }}">
                    {{ item.label|trans({}, item.translationDomain)|nl2br }}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endmacro %}

{% block enhavo_auto_complete_entity_widget %}
    <div data-auto-complete-entity="{{ auto_complete_data|json_encode|e }}">
        {% set valueString = '' %}
        {% if multiple %}
            {% set valueValues = [] %}
            {% for arr in value %}
                {% set valueValues = valueValues|merge([arr.id]) %}
            {% endfor %}
            {% set valueString = valueValues|join(",") %}
        {% else %}
            {% set valueString = value %}
        {% endif %}
        <input type="hidden" name="{{ full_name }}" value="{{ valueString }}" {% if multiple %}multiple="multiple"{% endif %} data-auto-complete-input />
        {% if create_route %}
            <a href="{{ path(create_route) }}" data-auto-complete-create class="autocomplete-create-button">{% if create_button_label %}{{ create_button_label }}{% endif %}</a>
        {% endif %}
    </div>
{% endblock %}

{% block entity_tree_widget %}
    {% import _self as forms %}
    {% if expanded %}
        <div {{ block('widget_container_attributes') }}>
            {% for choice in choice_tree_builder.choices %}
                {{ forms.choice_view(choice, choice_translation_domain, children_container_class) }}
            {% endfor %}
        </div>
    {% else %}
        {{- block('choice_widget_collapsed') -}}
    {% endif %}
{% endblock %}

{% macro choice_view(choice, choice_translation_domain, children_container_class) %}
    {% import _self as forms %}
    <div>
        <div>
            {{ form_widget(choice.formView) }}
            {{ form_label(choice.formView, null, {translation_domain: choice_translation_domain}) }}
        </div>
        {% if choice.children|length > 0 %}
            <div class="{{ children_container_class }}">
                {% for child in choice.children %}
                    {{ forms.choice_view(child, choice_translation_domain, children_container_class) }}
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endmacro %}

{%- block choice_widget_options -%}
    {% for group_label, choice in options %}
        {%- if choice is iterable -%}
            <optgroup label="{{ choice_translation_domain is same as(false) ? group_label : group_label|trans({}, choice_translation_domain) }}">
                {% set options = choice %}
                {{- block('choice_widget_options') -}}
            </optgroup>
        {%- else -%}
            <option value="{{ choice.value }}"{% if choice.attr %} {% set attr = choice.attr %}{{ block('attributes') }}{% endif %}{% if choice is selectedchoice(value) %} selected="selected"{% endif %}>{% if choice.level is defined %}{% for i in range(0, choice.level) %}&nbsp;&nbsp;{% endfor %}{% endif %}{{ choice_translation_domain is same as(false) ? choice.label : choice.label|trans({}, choice_translation_domain) }}</option>
        {%- endif -%}
    {% endfor %}
{%- endblock choice_widget_options -%}