<div class="translation-switcher" data-translation-current-locale="{{ currentLocale }}">
    <div class="translation-switcher-current">
        {% if translations is defined %}
            {% for locale, value in translations %}
                <img data-translation-current="{{ locale }}" class="{% if loop.first %}active{% endif %}" src="{{ asset('/bundles/enhavotranslation/image/flag/' ~ locale ~ '.png') }}" />
            {% endfor %}
        {% endif %}
    </div>
    <div class="translation-switcher-menu">
        {% if translations is defined %}
            {% for locale, value in translations %}
                <div data-translation-switch="{{ locale }}">
                    <img src="{{ asset('/bundles/enhavotranslation/image/flag/' ~ locale ~ '.png') }}" />
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>