{% trans_default_domain 'EnhavoShopBundle' %}

{% form_theme form template('admin/form/shop/fields.html.twig' %}
<div class="coupon">
    <form action="{{ path('enhavo_shop_theme_promotion_redeem_coupon') }}" data-cancel-action="{{ path('enhavo_shop_theme_promotion_cancel_coupon') }}" method="POST" data-coupon-form>
        {{ form_errors(form) }}
        {{ form_widget(form.promotionCoupon) }}
        {{ form_row(form._token) }}
        <button type="submit" class="redeem-btn"><i class="icon-magic"></i></button>
    </form>
</div>