{% extends 'esperantoAdminBundle::dialog.html.twig' %}

{% block content %}
    <form method="POST"
          action="{{ path(view.getParameter('create_route')) }}"
            {% if view.getParameter('preview_route') %}
                data-preview-url="{{ path(view.getParameter('preview_route'),{ id: 'preview' }) }}"
            {% endif %}
            >
        {% block form %}
            {% include view.getParameter('form_template') %}
        {% endblock %}
        {{ block('buttonRow') }}
    </form>
{% endblock %}

{% block buttons %}
    <div class="col-md-push-2 col-md-2">
        <button class="btn col-md-12 close"><i class="fa fa-times"></i> {{ 'label.cancel'|trans }}</button>
    </div>
    <div class="col-md-push-2 col-md-2">
        <button class="btn col-md-12 save" type="button"><i class="fa fa-check"></i> {{ 'label.save'|trans }}</button>
    </div>
    {% if view.getParameter('preview_route') %}
        <div class="col-md-push-2 col-md-2">
            <button class="btn col-md-12 preview" type="button"><i class="fa fa-eye"></i> {{ 'label.preview'|trans }}</button>
        </div>
    {% endif %}
{% endblock %}