{% extends 'esperantoAdminBundle::dialog.html.twig' %}

{% block content %}
    <form method="POST"
          action="{{ path(edit_route, { id: data.id }) }}"
          data-delete-url="{{ path(delete_route, { id: data.id }) }}"
            {% if preview_route %}
                data-preview-url="{{ path(preview_route, { id: 'preview' }) }}"
            {% endif %}
            >
        {% block form %}
            {% include form_template %}
        {% endblock %}
        {{ block('buttonRow') }}
    </form>
{% endblock %}

{% block buttons %}
    <div class="col-md-push-2 col-md-2">
        <button class="btn col-md-12 close"><i class="fa fa-times"></i> {{ 'label.cancel'|trans }}</button>
    </div>
    <div class="col-md-push-2 col-md-2">
        <button class="btn col-md-12 save" type="button"><i class="fa fa-check"></i> {{ 'label.save'|trans }}</button>
    </div>
    <div class="col-md-push-2 col-md-2">
        <button class="btn col-md-12 delete" type="button"><i class="fa fa-trash"></i> {{ 'label.delete'|trans }}</button>
    </div>
    {% if preview_route %}
        <div class="col-md-push-2 col-md-2">
            <button class="btn col-md-12 preview" type="button"><i class="fa fa-eye"></i> {{ 'label.preview'|trans }}</button>
        </div>
    {% endif %}
{% endblock %}
