{% extends 'esperantoAdminBundle::dialog.html.twig' %}

{% block content %}
    <form method="POST"
          action="{{ path(view.getParameter('edit_route'), { id: data.id }) }}"
          data-delete-url="{{ path(view.getParameter('delete_route'), { id: data.id }) }}"
            {% if view.getParameter('preview_route') %}
                data-preview-url="{{ path(view.getParameter('preview_route'), { id: 'preview' }) }}"
            {% endif %}
            >
        {% block form %}
            {% include view.getParameter('form_template') %}
        {% endblock %}
        {{ block('buttonRow') }}
    </form>
{% endblock %}

{% block buttons %}
    <button class="btn offset2 span2 close"><i class="icon-remove"></i> {{ 'label.cancel'|trans }}</button>
    <button class="btn span2 save" type="button"><i class="icon-ok"></i> {{ 'label.save'|trans }}</button>
    <button class="btn span2 delete" type="button"><i class="icon-trash"></i> {{ 'label.delete'|trans }}</button>
    {% if view.getParameter('preview_route') %}
        <button class="btn span2 preview" type="button"><i class="icon-eye-open"></i> {{ 'label.preview'|trans }}</button>
    {% endif %}
{% endblock %}
