{% extends '::admin.html.twig' %}

{% block javascripts %}
    <script type="text/javascript">
        $(function() {
            admin.initPagination('{{ view.getParameter('table_route') }}');
            admin.initTable();
            admin.initTopButton('[data-action-row] .btn.create', {}, '{{ view.getParameter('create_route') }}');
            admin.initAfterSaveHandler();
        });
    </script>
{% endblock %}

{% block content %}
    {% block topButtons %}
        <div class="row action-row" data-action-row>
            <div class="col-md-3">
                <button class="btn create col-md-12"><i class="fa fa-plus-square"></i> {{ view.getParameter('add_button_text')|trans }}</button>
            </div>
        </div>
    {% endblock %}

    {% block table %}
        <div class="table-container" data-edit-route="{{ view.getParameter('edit_route') }}" data-refresh-route="{{ view.getParameter('table_route') }}">
            {% include view.getParameter('table_template') %}
        </div>
    {% endblock %}

    {{ pagination_render(data) }}
{% endblock %}
