{% extends viewer.theme %}

{% block javascripts %}
    <script type="text/javascript">
        $(function() {
            admin.initBlocks();
            admin.initActions();
            admin.initAfterSaveHandler();
        });
    </script>
{% endblock %}

{% block content %}
    {% block topButtons %}
        <div class="row mb3 action">
            <div class="col-md-3">
                {% for action in actions %}
                    <button data-action data-action-type="{{ action.type }}" data-action-route="{{ action.route }}" class="btn create col-md-12"><i class="icon-{{ action.icon }}"></i> {{ action.label|trans }}</button>
                {% endfor %}
            </div>
        </div>
    {% endblock %}

    {% for block in blocks %}
        {{ block_render(block.type, block.parameters) }}
    {% endfor %}
{% endblock %}
