{% extends 'esperantoAdminBundle::dialog.html.twig' %}

{% block content %}
    <form method="POST" action="{{ form_action }}" data-delete="{{ form_delete }}" data-id="{{ data.id }}">
        {% block form %}
            {% include form_template %}
        {% endblock %}
        {{ block('buttonRow') }}
    </form>
{% endblock %}

{% block buttons %}
    {% for name, button in buttons %}
        {% if button.display %}
            <div class="col-md-push-2 col-md-2">
                <button data-button data-route="{{ button.route }}" data-type="{{ name }}" class="btn col-md-12 save" type="button"><i class="fa fa-{{ button.icon }}"></i> {{ button.label|trans }}</button>
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}