{% extends template('theme/base.html.twig') %}

{% trans_default_domain 'EnhavoShopBundle' %}

{% block main %}

    {{ dump(order) }}

    {% if not order.isPayed %}
        <form method="POST" action="{{ path('enhavo_shop_theme_payment_purchase', {token: order.token}) }}">
            <button type="submit">{{ 'order.action.purchase'|trans }}</button>
        </form>
    {% endif %}

    <form method="POST" action="{{ path('enhavo_shop_theme_user_order_transfer', {number: order.number}) }}">
        <button type="submit">{{ 'order.action.transfer'|trans }}</button>
    </form>
{% endblock %}