<html lang="{{  app.request.locale }}">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
        <meta charset="utf-8" />
        <meta name="description" content="{% block meta_description %}{% endblock %}" />
        <meta name="og:url" content="{{ app.request.uri }}" />
        <meta name="og:title" content="{% block og_title %}{% endblock %}" />
        <meta name="og:description" content="{% block og_description %}{% endblock %}" />
        <meta name="og:image" content="{% block og_image %}{% endblock %}" />

        <title>{% block meta_title %}{% endblock %}</title>

        {% block stylesheets %}
            {{ vite_css_tags('entrypoints/base.js', 'admin') }}
        {% endblock %}
    </head>
    <body class="{% block body_class %}{% endblock %}">
        <header>
        </header>

        <main>
            {% block main %}{% endblock %}
        </main>

        {% block javascripts %}
            <script id="routes" type="application/json">{{ routes()|raw }}</script>
            {{ vite_js_tags('entrypoints/base.js', 'admin') }}
            {{ vite_js_preload_tags('entrypoints/base.js', 'admin') }}
        {% endblock %}
    </body>
</html>