{% trans_default_domain 'EnhavoShopBundle' %}
<div class="order-order">
    {{ form_row(form.state) }}
    {{ form_row(form.paymentState) }}
    {{ form_row(form.shippingState) }}
    <hr />
    <div class="row">
        <div class="col-sm-7">
            {% if resource.items|length %}
                <div class="itemlist-head">
                    <div class="row">
                        <div class="col-xs-2"></div>
                        <div class="col-xs-6">{{ 'order.label.product'|trans }}</div>
                        <div class="col-xs-2">{{ 'order.label.single_price'|trans }}</div>
                        <div class="col-xs-2">{{ 'order.label.price'|trans }}</div>
                    </div>
                </div>
                <ul class="itemlist">
                {% for item in resource.items %}
                    <li>
                        <div class="row">
                            <div class="col-xs-2">
                                {% if item.product and item.product.picture %}
                                    <div class="img">
                                        <img src="{{ media_url(item.product.picture, 'enhavoPreviewThumb') }}" />
                                    </div>
                                {% endif %}
                            </div>
                            <div class="col-xs-6">
                                <div class="item-title">
                                    {{ item.name }}
                                    <span class="item-quantity">x{{ item.quantity }}</span>
                                </div>
                            </div>
                            <div class="col-xs-2">
                                <div class="item-unit-price">
                                    <div class="details">
                                        <div>{{ 'order.label.unitPrice'|trans }}: {{ item.unitPrice|currency }}</div>
                                        <div>{{ 'order.label.unitTax'|trans }}: {{ item.unitTax|currency }}</div>
                                    </div>
                                    <div>{{ item.unitTotal|currency }}</div>
                                </div>
                            </div>
                            <div class="col-xs-2">
                                <div class="item-unit-price total">
                                    <div class="details">
                                        <div>{{ 'order.label.unitPrice'|trans }}: {{ item.unitPriceTotal|currency }}</div>
                                        <div>{{ 'order.label.unitTax'|trans }}: {{ item.taxTotal|currency }}</div>
                                    </div>
                                    <div>{{ item.total|currency }}</div>
                                </div>
                            </div>
                        </div>
                    </li>
                {% endfor %}
                </ul>
            {% endif %}
            <div class="row">
                <div class="col-xs-8">
                </div>
                <div class="col-xs-4">
                    <div class="order-sum">
                        <div>{{'order.label.unitPrice'|trans }}: {{ resource.unitPriceTotal|currency }}</div>
                        <div>
                            {% if resource.shippingTotal > 0 %}
                                {{ 'order.label.shipping'|trans }}: {{ resource.shippingTotal|currency }}
                            {% else %}
                                {{ 'order.label.freeShipping'|trans }}
                            {% endif %}
                        </div>
                        {% if resource.discountTotal != 0 %}
                            <div>{{ 'order.label.discount'|trans }}: {{ resource.discountTotal|currency }}</div>
                        {% endif %}
                        <div>
                            {{ 'order.label.salesTax'|trans }}.: {{ resource.taxTotal|currency }}
                        </div>
                        <div class="total">{{ 'order.label.sum'|trans }}: {{ resource.total|currency }}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-5">
            <div><strong>{{ 'order.label.billingNumber'|trans }}:</strong> {{ resource.number }}</div>
            <div><strong>{{ 'order.label.orderedAt'|trans }}:</strong> {{ resource.checkoutCompletedAt|date }}</div>
            <div><strong>{{ 'order.label.eMail'|trans }}:</strong> {{ resource.customerEmail }}</div>
            <div><strong>{{ 'order.label.paymentMethod'|trans }}:</strong> </div>
            <div><strong>{{ 'order.label.shippingMethod'|trans }}:</strong> </div>
            <div class="address">

                {% if resource.shippingAddress %}
                    <div>
                        <div><strong>{{ 'order.label.shippingAddress'|trans }}</strong></div>
                        <div>{{ resource.shippingAddress.firstName }} {{ resource.shippingAddress.lastName }}</div>
                        {% if resource.shippingAddress.company %}
                            <div>{{ resource.shippingAddress.company }}</div>
                        {% endif %}
                        <div>{{ resource.shippingAddress.street }}</div>
                        <div>{{ resource.shippingAddress.postCode }} {{ resource.shippingAddress.city }}</div>
                        <div>{{ 'order.label.country'|trans }}: {{ resource.shippingAddress.countryCode|sylius_country_name }}</div>
                        {% if resource.shippingAddress.phoneNumber %}
                            <div>{{ 'order.label.phone'|trans }}: {{ resource.shippingAddress.phoneNumber }}</div>
                        {% endif %}
                    </div>
                {% endif %}

                {% if resource.billingAddress %}
                    <div>
                        <div><strong>{{ 'order.label.billingAddress'|trans }}</strong></div>
                        <div>{{ resource.billingAddress.firstName }} {{ resource.billingAddress.lastName }}</div>
                        {% if resource.billingAddress.company %}
                            <div>{{ resource.billingAddress.company }}</div>
                        {% endif %}
                        <div>{{ resource.billingAddress.street }}</div>
                        <div>{{ resource.billingAddress.postCode }} {{ resource.billingAddress.city }}</div>
                        <div>{{ 'order.label.country'|trans }}: {{ resource.billingAddress.countryCode|sylius_country_name }}</div>
                        {% if resource.billingAddress.phoneNumber %}
                            <div>{{ 'order.label.phone'|trans }}: {{ resource.billingAddress.phoneNumber }}</div>
                        {% endif %}
                    </div>
                {% endif %}

            </div>
        </div>
    </div>
</div>