{% extends template('admin/security/base.html.twig') %}

{% trans_default_domain 'EnhavoUserBundle' %}

{% block form %}
    <form action="{{ path('enhavo_user_reset_password_confirm', {'token': token}) }}" method="post" novalidate>
        <div class="input-container mb1">
            {{ form_widget(form.plainPassword.first, {attr: {placeholder: 'confirmation.form.label.password'|trans }}) }}
        </div>
        {{ form_errors(form.plainPassword.first) }}
        <div class="input-container mb1">
            {{ form_widget(form.plainPassword.second, {attr: {placeholder: 'confirmation.form.label.password-repeat'|trans }}) }}
        </div>
        <button class="btn loginButton" type="submit" id="_submit" name="_submit">{{ 'confirmation.form.action.reset'|trans|nl2br }}</button>
        <div class="reset">
            <button class="btn resetButton"><a href="{{ path('enhavo_user_security_login') }}">{{ 'reset.label.login'|trans|nl2br }}</a></button>
        </div>
        {{ form_widget(form._token) }}
    </form>
{% endblock %}
