{% extends template('admin/security/base.html.twig') %}

{% trans_default_domain 'EnhavoUserBundle' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('enhavo/user/login', null, 'enhavo') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('enhavo/user/login', null, 'enhavo') }}
{% endblock %}

{% block form %}
    <form action="{{ path("enhavo_user_reset_password_request") }}" method="post" novalidate class="login-form">
        <div class="form-row">
            <div class="input-container">
                <label for="{{ form.username.vars.full_name }}">{{ 'security.login.email'|trans }}</label>
                <a href="{{ path('enhavo_user_security_login') }}" class="reset-pw-link">{{ 'security.login.submit'|trans|nl2br }}</a>
                <input type="text" id="{{ form.username.vars.id }}" name="{{ form.username.vars.full_name }}" value="" class="textfield" required="required" autofocus />
            </div>
        </div>

        <div class="button-row">
            <button class="btn loginButton" type="submit" id="_submit" name="_submit">{{ 'reset_password.request.submit'|trans }}</button>
        </div>

        {{ form_row(form._token) }}
    </form>
{% endblock %}

