{% extends 'esperantoAdminBundle::dialog.html.twig' %}

{% block content %}
    <form method="POST" action="{{ path( view.getParameter('edit_route'), { id: data.id }) }}" data-delete-url="{{ path( view.getParameter('delete_route'), { id: data.id }) }}">
        {% set title = 'label.' ~ data.title %}
        <label type="submit" style=" margin-left: 160px; color: #ddd; " class="label-container">Seite: {{ title | trans }}</label>
        <div></div>
        <br>
        {% include 'esperantoProjectBundle:Admin:Content/form.html.twig' %}
        {{ block('buttonRow') }}
    </form>
{% endblock %}

{% block buttons %}
    <button class="btn offset2 span2 close"><i class="icon-remove"></i> {{ 'label.cancel'|trans }}</button>
    <button class="btn span2 save" type="button"><i class="icon-ok"></i> {{ 'label.save'|trans }}</button>
    <button class="btn span2 delete" type="button"><i class="icon-trash"></i> {{ 'label.delete'|trans }}</button>
{% endblock %}