{% extends template('theme/base.html.twig') %}

{% block main %}
    <h1>Address</h1>
    <div>
        <form action="{{ path('sylius_shop_checkout_address') }}" method="POST" novalidate>
            {{ form_errors(form) }}
            {% if form.email is defined %}
                {{ form_row(form.email) }}
            {% endif %}
            {{ form_widget(form.billingAddress) }}
            {{ form_row(form.sameAddress) }}
            <div>
                {{ form_widget(form.shippingAddress) }}
            </div>
            {{ form_row(form._token) }}
            <button type="submit">Senden</button>
        </form>
    </div>
{% endblock %}