<div class="row p1 head-row">
    <div class="span1">{{ 'label.id'|trans }}</div>
    <div class="span2">{{ 'label.title'|trans }}</div>
    <div class="span3"></div>
</div>

<div class="row-container">
    {% for item in data %}
        <div class="row mb1 entry-row p1" data-id="{{ item.id }}">
            <div class="span1">{{ item.id }}</div>
            <div class="span2">{{ item.title }}</div>
            <div class="span3">
                {% if item.images.get(0) %}<img src="{{ media_url(item.images.first,100,100) }}" />{% endif %}
            </div>
        </div>
    {% else %}
        {{ 'table.empty'|trans }}
    {% endfor %}
</div>