{% extends 'form_div_layout.html.twig' %}

{% block datetime_widget -%}
    <div class="input-container">
        <input class="datetimepicker" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}"{% endif %} type="text" />
    </div>
{%- endblock %}

{% block date_widget -%}
    <div class="input-container">
        <input class="datepicker" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}"{% endif %} type="text" />
    </div>
{%- endblock %}

{% block choice_widget_expanded %}
    <div class="choice-input-container" {{ block('widget_container_attributes') }}>
        {%- for child in form %}
        <span class="choice-input-with-label">
            {{- form_widget(child) -}}
            {{- form_label(child) -}}
        </span>
        {% endfor -%}
    </div>
{% endblock %}

{% block form_row %}
    {% spaceless %}
        <div class="row mb1">
            <label class="col-md-2 text-right label-container">{{ form_label(form) }}</label>
            <div class="col-md-9 formwidget-container">{{ form_widget(form) }}</div>
        </div>
    {% endspaceless %}
{% endblock %}

{% block text_widget %}
    <div class="input-container">
        <input {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}"{% endif %} type="text" />
    </div>
{% endblock %}

{% block text_integer %}
   <input {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}"{% endif %} type="text" />
{% endblock %}

{% block textarea_widget %}
  <div class="input-container">
    <textarea {{ block('widget_attributes') }}>{{ value }}</textarea>
  </div>
{% endblock %}

{% block password_widget %}
    <div class="input-container">
        <input {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}"{% endif %} type="password" />
    </div>
{% endblock %}

{% block wysiwyg_widget %}
    <div class="wysiwyg-container">
        <textarea data-wysiwyg data-config="{{ config|e }}" {{ block('widget_attributes') }}>{{ value }}</textarea>
    </div>
{% endblock %}

{% block enhavo_route_widget %}
    {{ form_widget(form.staticPrefix) }}
{% endblock %}

{% block enhavo_boolean_widget %}
    <span class="choice-input-with-label">
        <input {{ block('widget_attributes') }} type="radio" id="{{ id }}" name="{{ name }}" value="1" {%  if checked %}checked{% endif %} />
        <label {% if required -%}class="required"{%- endif %}>{{ label_true }}</label>
    </span>
    <span class="choice-input-with-label">
        <input {{ block('widget_attributes') }} type="radio" id="{{ id }}" name="{{ name }}" value="0" {%  if not checked %}checked{% endif %} />
        <label {% if required -%}class="required"{%- endif %}>{{ label_false }}</label>
    </span>
{% endblock %}


