<button
  data-action
  data-action-type="{{ type }}"
  data-action-route="{{ route }}"
  {% if routeParameters is defined %}
    data-action-route-parameters="{{ routeParameters|json_encode }}"
  {% endif %}
  class="btn {{ icon }} col-sm-12"
>
  {{ label|trans({}, translationDomain) }}
</button>