{% if display %}
  <button
    data-action
    data-action-type="{{ type }}"
    data-action-route="{{ route }}"
    {% if routeParameters is defined %}
      data-action-route-parameters="{{ routeParameters|json_encode }}"
    {% endif %}
    class="btn {{ icon }}"
  >
    {{ label|trans({}, translationDomain)|nl2br }}
  </button>
{% endif %}