{% extends template('theme/base.html.twig') %}
{% trans_default_domain 'EnhavoUserBundle' %}

{% block main %}
    <form action="{{ path('enhavo_user_theme_change_password_change') }}" method="POST">
        {{ form_row(form.current_password) }}
        {{ form_row(form.plainPassword) }}
        {{ form_row(form._token) }}
        <button type="submit">{{ 'change_password.form.submit'|trans }}</button>
    </form>
{% endblock %}
