{% extends template('admin/security/base.html.twig') %}

{% trans_default_domain 'EnhavoUserBundle' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('enhavo/application', null, 'enhavo') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('enhavo/application', null, 'enhavo') }}
{% endblock %}

{% block form %}
    <form action="{{ path("enhavo_user_security_login") }}" method="post" novalidate class="login-form">
        <div class="form-row">
            <div class="input-container">
                <label for="email">{{ 'security.login.email'|trans }}</label>
                <input type="text" id="email" name="_email" value="{{ last_username }}" class="textfield" autofocus />
            </div>
        </div>
        <div class="form-row">
            <div class="input-container">
                <label for="password">{{ 'security.login.password'|trans }}</label>
                <a href="{{ path('enhavo_user_reset_password_request') }}" class="reset-pw-link">{{ 'reset_password.request.submit'|trans|nl2br }}</a>
                <input type="password" id="password" name="_password" class="textfield" />
            </div>
        </div>
        <div class="button-row">
            <div class="checkbox-container">
                <input type="checkbox" id="_remember" name="_remember">
                <span><i class="icon icon-check indicator"></i></span>
                <label for="_remember">{{ 'security.login.remember_me'|trans|nl2br }}</label>
            </div>
            <button class="btn login-button" type="submit" id="_submit" name="_submit">{{ 'security.login.submit'|trans|nl2br }}</button>
        </div>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
        {% if redirect_uri %}
            <input type="hidden" name="_target_path" value="{{ redirect_uri }}" />
        {% endif %}
        <input type="hidden" id="remember_me" name="_remember_me" value="on">
    </form>
{% endblock %}

