{% extends template('admin/security/base.html.twig') %}

{% trans_default_domain 'EnhavoUserBundle' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('enhavo/application', null, 'enhavo') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('enhavo/application', null, 'enhavo') }}
{% endblock %}

{% block form %}
    <form action="{{ path("enhavo_user_security_login") }}" method="post" novalidate class="login-form">
        <div class="form-row">
            <div class="input-container">
                {{ form_label(form.userIdentifier) }}
                {{ form_widget(form.userIdentifier, {attr: { class: 'textfield', autofocus: '' }}) }}
            </div>
        </div>
        <div class="form-row">
            <div class="input-container">
                {{ form_label(form.password) }}
                <a href="{{ path('enhavo_user_reset_password_request') }}" class="reset-pw-link">{{ 'reset_password.request.submit'|trans|nl2br }}</a>
                {{ form_widget(form.password, {attr: { class: 'textfield' }}) }}
            </div>
        </div>
        <div class="button-row">
            <div class="checkbox-container">
                {{ form_widget(form.rememberMe, {attr: { class: 'textfield' }}) }}
                <span><i class="icon icon-check indicator"></i></span>
                {{ form_label(form.rememberMe) }}
            </div>
            <button class="btn login-button" type="submit" id="_submit" name="_submit">{{ 'security.login.submit'|trans|nl2br }}</button>
        </div>
        {{ form_widget(form.csrfToken) }}
        {% if redirect_uri %}
            <input type="hidden" name="_target_path" value="{{ redirect_uri }}" />
        {% endif %}
        <input type="hidden" id="remember_me" name="_remember_me" value="on">
    </form>
{% endblock %}

