<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
        <meta charset="utf-8" />
        <meta name="description" content="{% block metadescription %}{% endblock %}" />
        <meta name="og:url" content="{{ app.request.uri }}" />
        <meta name="og:title" content="{% block ogtitle %}{% endblock %}" />
        <meta name="og:description" content="{% block ogdescription %}{% endblock %}" />
        <meta name="og:image" content="{% block ogimage %}/img/logo-share.jpg{% endblock %}" />

        <link rel="icon" href="{{ asset('favicon.ico') }}" type="image/ico">
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" type="image/ico">
        <link rel="apple-touch-icon" href="{{ asset('favicon.ico') }}">
        <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('favicon.ico') }}">
        <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('favicon.ico') }}">
    </head>
    <body class="{% block bodyclass %}{% endblock %}">
        <main>
            {% block main %}{% endblock %}
        </main>

        {% block javascripts %}{% endblock %}
    </body>
</html>