{% extends "EnhavoAppBundle::base.html.twig" %}

{% trans_default_domain 'EnhavoUserBundle' %}

{% block body %}
    <div id="background">
        <div id="loginBox">
            <div class="loginContainer">
                {% if form_errors(form) %}
                    <div class="col-md-push-2 col-md-4 error" id="overlayMessage" style="display: block;">
                        <div>{{ form_errors(form) }}</div>
                    </div>
                {% endif %}
                <div class="ribbon">
                    <p>0.1.0</p>
                </div>
                <div class="logo">
                    <img src="{{ asset('/bundles/enhavoapp/img/enhavo_admin_logo.svg') }}" alt="Enhavo CMS"/>
                </div>
                <form action="{{ path('fos_user_resetting_reset', {token: token}) }}" method="post">
                    <div class="mb1">
                        {{ form_widget(form.plainPassword.first, {attr: {placeholder: 'confirm.form.label.password'|trans }}) }}
                    </div>
                    {{ form_widget(form.plainPassword.second, {attr: {placeholder: 'confirm.form.label.password-repeat'|trans }}) }}
                    <button class="btn loginButton" type="submit" id="_submit" name="_submit">{{ 'confirm.form.action.reset'|trans }}</button>
                    <div class="reset">
                        <button class="btn resetButton"><a href="{{ path('fos_user_security_login') }}">{{ 'reset.label.login'|trans }}</a></button>
                    </div>
                    {{ form_widget(form._token) }}
                </form>
            </div>
            <p>
                enhavo is an open source content-management-system based on symfony 2 and sylius. <br/>
                Created and launched by <a href="http://xq-web.de" target="_blank">xq-web.de</a>
            </p>
        </div>
    </div>
{% endblock body %}
