{% extends template('base') %}

{% trans_default_domain 'EnhavoUserBundle' %}

{% block body %}
    <div id="background">
        <div id="loginBox">
            <div class="loginContainer">
                <div class="ribbon">
                    <span>{{ version() }}</span>
                </div>
                <div class="logo">
                    <img src="{{ asset('/bundles/enhavoapp/img/enhavo_admin_logo.svg') }}" alt="Enhavo CMS"/>
                </div>
                <p class="confirmation"><i class="fa fa-check"></i>{{ 'reset.message.email'|trans|nl2br }}</p>
                <div class="reset">
                    <button class="btn resetButton"><a href="{{ path('fos_user_security_login') }}">{{ 'reset.label.login'|trans|nl2br }}</a></button>
                </div>
            </div>
            <p>
                enhavo is an open source content-management-system based on symfony 2 and sylius. <br/>
                Created and launched by <a href="http://xq-web.de" target="_blank">xq-web.de</a>
            </p>
        </div>
    </div>
{% endblock body %}
