{% extends "EnhavoAppBundle::base.html.twig" %}

{% trans_default_domain 'EnhavoUserBundle' %}

{% block body %}
    <div id="background">
        <div id="loginBox">
            {% if error %}
                <div class="col-md-push-2 col-md-4 error" id="overlayMessage" style="display: block;">
                    <div>{{ error }}</div>
                </div>
            {% endif %}
            <div class="ribbon">
                <p>0.1</p>
            </div>
            <div class="logo">
                <img src="{{ asset('/bundles/enhavoapp/img/enhavo_admin_logo.svg') }}" alt="Enhavo CMS"/>
            </div>
            <form action="{{ path("enhavo_user_user_reset_password") }}" method="post">
                <input type="hidden" id="remember_me" name="_remember_me" value="on">
                <div class="row">
                    <div class="col-md-7">
                        <div class="input-container">
                            <input placeholder="{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}" type="text" id="username" name="username" value="" required="required" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-7">
                        <button class="btn col-md-12 loginButton" type="submit" id="_submit" name="_submit">{{ 'reset.form.action.reset-password'|trans }}</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-7">
                        <div class="col-md-6 reset">
                            <a href="{{ path('fos_user_security_login') }}">{{ 'reset.label.login'|trans }}</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <p class="col-md-12">
                        enhavo is an open source content-management-system based on symfony 2 and sylius. <br/>
                        Created and launched by <a href="http://xq-web.de" target="_blank">xq-web.de</a>
                    </p>
                </div>
            </form>
        </div>
    </div>
{% endblock body %}
