{% extends 'EnhavoThemeBundle::base.html.twig' %}
{% block main %}
<div class="clearfix page-wrap">
    <section id="article-feed">
        <div class="articles">
            <div class="container">
                <h2>ACME Online</h2>
                <p class="capitals spacing cat">neueste Artikel</p>
            </div>
            <div class="mobile-app">
                <div class="speechbubble">
                    <p>Neu! <br/>Jetzt auch <br/>als App</p>
                </div>
                <img src="/bundles/enhavotheme/img/ipad.png" alt=""/>
            </div>
            <div class="container npam">
                {% for article in articles %}
                <article class="clearfix" data-article-item>
                    <a href="/article-page">
                        <span class="article-photo">
                            <img src="{{ media_url(article.picture) }}" alt=""/>
                        </span>
                        <span class="article-content">
                            <h3 class="title">{{ article.title }}</h3>
                            {% for category in article.categories %}
                            <p class="category capitals">{{ category }}</p>
                            <p class="desc">{{ article.teaser }}</p>
                            {% endfor %}
                            <span href="" class="capitals readmore-link">...MEHR</span>
                            <p class="date">{{ article.publicationDate|date('d m Y') }}</p>
                        </span>
                    </a>
                </article>
                {% endfor %}
                <div class="load-articles">
                    <a href="#" class="capitals" data-more-articles>
                        Mehr Artikel laden <br/>
                        <i class="icon-circle-with-plus"></i>
                    </a>
                </div>
            </div>
        </div>
    </section>
    {% include 'EnhavoThemeBundle:Default:sidebar.html.twig' %}
</div>
<section id="image-text">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 image">
                <img src="/bundles/enhavotheme/img/magazine.png" alt=""/>
                <div class="stoerer">
                    <p>Unsere <br/>Neue <br/>Ausgabe</p>
                </div>
            </div>
            <div class="col-sm-6 text">
                <h2>Jetzt in deinem Zeitschriftenhandel</h2>
                <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo.</p>
            </div>
        </div>
    </div>
</section>
<section id="categories" class="clearfix">
    <div class="container npam">
        <div class="row npam">
            <div class="col-md-4 col-sm-6 col-xs-12 npam category">
                <a href="">
                    <span class="cat-image">
                        <span class="over">
                            <p class="capitals cat-name">Innenarchitektur</p>
                        </span>
                        <img src="/bundles/enhavotheme/img/cat-img-01.jpg" alt=""/>
                    </span>
                    <span class="text-bottom">
                        <p class="article-name">Artikelname</p>
                        <p class="article-date">27 06 16</p>
                        <p class="article-excerpt">This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor ae erat ctonsequat auctor eu in elit. Class aptent taciti sociosqu ad litora tormassa nisl quis neque. <span class="readmore-link capitals" href="">...Mehr</span></p>
                    </span>
                </a>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 npam category">
                <a href="">
                    <span class="cat-image">
                        <span class="over">
                            <p class="capitals cat-name">Reisen &amp; Kultur</p>
                        </span>
                        <img src="/bundles/enhavotheme/img/cat-img-02.jpg" alt=""/>
                    </span>
                    <span class="text-bottom">
                        <p class="article-name">Artikelname</p>
                        <p class="article-date">27 06 16</p>
                        <p class="article-excerpt">This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor ae erat ctonsequat auctor eu in elit. Class aptent taciti sociosqu ad litora tormassa nisl quis neque. <span class="readmore-link capitals" href="">...Mehr</span></p>
                    </span>
                </a>
            </div>
            <div class="col-md-4 col-sm-12 npam category">
                <a href="">
                    <span class="cat-image">
                        <span class="over">
                            <p class="capitals cat-name">Musik</p>
                        </span>
                        <img src="/bundles/enhavotheme/img/cat-img-03.jpg" alt=""/>
                    </span>
                    <span class="text-bottom">
                        <p class="article-name">Artikelname</p>
                        <p class="article-date">27 06 16</p>
                        <p class="article-excerpt">This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor ae erat ctonsequat auctor eu in elit. Class aptent taciti sociosqu ad litora tormassa nisl quis neque. <span class="readmore-link capitals" href="">...Mehr</span></p>
                    </span>
                </a>
            </div>
        </div>
    </div>
</section>
<section id="contact">
    <div class="container">
        <h2>Kontakt</h2>
        <p class="capitals">Schreiben Sie uns Ihr Anliegen</p>
    </div>
    <div class="row npam">
        <div class="col-md-8 col-sm-12 npam">
            <div class="form">
                <form id="ajax-contact" method="post" action="" data-form-container>
                    <div class="row npam">
                        <div class="col-sm-6 npam">
                            <input data-input type="text" placeholder="Familienname" name="name" id="name"/>
                            <input data-input type="text" placeholder="Vorname" name="prename" id="prename"/>
                            <input data-input type="text" placeholder="Email Adresse" name="email" id="email"/>
                        </div>
                        <div class="col-sm-6 npam">
                            <textarea data-input data-input-message name="message" name="message" id="message"></textarea>
                            <button type="submit" class="button blue" data-send-message><i class="icon-forward"></i></button>
                        </div>
                    </div>
                </form>
                <div id="form-messages" data-response-container></div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 npam">
            <div id="map"></div>
        </div>
    </div>
</section>
{% endblock %}