<div id="search-results">
    <h3>{{ 'search.label.result'|trans({}, 'EnhavoSearchBundle')|nl2br }}</h3>
    {% if data is iterable %}
        {% for item in data %}
            <div data-id={{ item.resource.id }} {% if is_granted('WORKFLOW_UPDATE', item.resource) %}data-update-route="{{ item.resource|updateRoute }}"{% endif %} class="entry-row">
                <div class="row">
                    <div class="col-xs-9">
                        <h1> {{ item.resource.title|raw }} </h1>
                        {{ item.highlightedText|raw }}
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        {{ data|nl2br }}
    {% endif %}
</div>