<div id="search-results">
    {% if data is iterable %}
        {% for item in data %}
             </br>
            <div data-id={{ item.object.id }} {% if item.update %}data-update-route="{{ item.bundleName }}_{{ item.entityName }}_update"{% endif %} style="border-bottom: 1px solid darkslategray;" class="entry-row">
                <h1><b> {{ item.object.title|raw }} </b></h1>
                {% if item.object.teaser is defined %}
                    {% if item.object.teaser|length >= 100 %}
                        <p>{{ item.object.teaser|slice(0, 100)|raw }} ...</p>
                    {% else %}
                        <p>{{ item.object.teaser|slice(0, 100)|raw }}</p>
                    {% endif %}
                {% endif %}
                </br>
            </div>
        {% endfor %}
    {% else %}
        </br>
        {{ data }}
    {% endif %}
</div>
