{% extends 'EnhavoAppBundle::dialog.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}
{% block content %}
    {{ form_start(form, { 'action': path('enhavo_user_user_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
    <div class="row tabContainer">
        <div class="container-fluid">
            <a href="#" tabid="tab1" class="selected"><span>{{ 'label.changePassword'|trans({ }, 'EnhavoAppBundle') }}</span></a>
        </div>
    </div>
    <div class="row tabContentContainer">
        {{ form_widget(form) }}
    </div>
    <div class="row">
        <div class="col-md-push-2 col-md-2">
            <button data-button="" data-route="" data-type="cancel" class="btn col-md-12 save" type="button"> Cancel</button>
        </div>
        <div class="col-md-push-2 col-md-2">
            <button data-button data-type="save" type="submit" value="{{ 'change_password.submit'|trans }}" id="changeUserPassword" class="btn col-md-12 save"> Save</button>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}