<!DOCTYPE html>
<html>
    <head>
        {% block head %}{% endblock %}
        {% block stylesheets %}
            {{ vite_css_tags('entrypoints/main.js', 'theme') }}
        {% endblock %}
    </head>
    <body>
        {% block body %}
            {% block form %}{% endblock %}
            <div data-controller="form" data-form-form-value="{{ form|json_encode|e }}" data-form-component-value="form-form"></div>
            <hr>
            <pre id="data">{{ data|json_encode(constant('JSON_PRETTY_PRINT')) }}</pre>
        {% endblock %}

        {% block routes %}
            {% if routes is defined %}
                <script id="routes" type="application/json">{{ routes|json_encode|e }}</script>
            {% else %}
                <script id="routes" type="application/json">{"base_url":"","routes":{}}</script>
            {% endif %}
        {% endblock %}

        {% block translations %}
            {% if translations is defined %}
                <script id="translations" type="application/json">{{ translations|json_encode|e }}</script>
            {% endif %}
        {% endblock %}

        {% block vue_routes %}
            {% if vue_routes is defined %}
                <script id="vue_routes" type="application/json">{{ vue_routes|json_encode|e }}</script>
            {% endif %}
        {% endblock %}

        {% block javascripts %}
            {{ vite_js_tags('entrypoints/main.js', 'theme') }}
            {{ vite_js_preload_tags('entrypoints/main.js', 'theme') }}
        {% endblock %}
    </body>
</html>
