{% trans_default_domain 'EnhavoUserBundle' %}

<div id="login-box">
    <div class="login-container">
        <form action="{{ path("enhavo_user_theme_login") }}" method="post">
            {% if error %}
                <div class="col-md-push-2 col-md-4 error loginMessage" id="overlayMessage" style="display: block;">
                    <div>{{ error|trans|nl2br }}</div>
                </div>
            {% endif %}

            <div class="mb1">
                {{ form_row(form.userIdentifier) }}
            </div>

            <div class="mb1">
                {{ form_row(form.password) }}
            </div>

            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    {{ form_widget(form.rememberMe) }}
                    <span></span>
                    {{ form_label(form.rememberMe) }}
                </div>
                <div class="col-sm-6 col-xs-12 reset">
                    <a href="{{ path('enhavo_user_theme_reset_password_request') }}">{{ 'reset_password.request.submit'|trans|nl2br }}</a>
                    <a href="{{ path('enhavo_user_theme_registration_register') }}">{{ 'registration'|trans|nl2br }}</a>
                </div>
            </div>
            <button class="btn loginButton" type="submit">{{ 'security.login.submit'|trans|nl2br }}</button>
            {{ form_widget(form.csrfToken) }}

            {% if failure_path %}
                <input type="hidden" name="_failure_path" value="{{ failure_path }}" />
            {% endif %}

            {% if target_path %}
                <input type="hidden" name="_target_path" value="{{ target_path }}" />
            {% endif %}
        </form>
    </div>
</div>
