<div data-controller="cart-summary">
    {% for item in cart.items %}
        <div data-controller="cart-item" data-cart-item-product-value="{{ item|serialize('json', {groups: ['product', 'route']})|e }}">
            {% if not immutable %}<form action="{{ path('enhavo_shop_theme_cart_save_quantity', {id: item.id, _format: 'json'}) }}" method="POST" data-form-cart-quantity data-item-id="{{ item.id }}">{% endif %}
                <h2>{{ item.name }}</h2>

                {% if immutable %}
                    <div>Quantity: {{ item.quantity }}</div>
                {% else %}
                    <div><input type="text" name="quantity" value="{{ item.quantity }}" /></div><button type="submit">Save</button>
                {% endif %}

                <div>Unit Price: <span data-cart-item-target="unitPrice">{{ item.discountedUnitPrice }}</span></div>
                <div>Unit Tax: <span data-cart-item-target="unitTax">{{ item.unitTax }}</span></div>
                <div>Unit Total: <span data-cart-item-target="unitTotal">{{ item.discountedUnitPriceTotal }}</span></div>

                <div>Tax Total: <span data-cart-item-target="taxTotal">{{ item.taxTotal }}</span></div>
                <div>Net Total: <span data-cart-item-target="unitPriceTotal">{{ item.discountedUnitPriceTotal }}</span></div>
                <div>Total: <span data-cart-item-target="total">{{ item.total }}</span></div>

                {% if not immutable %}
                    <a data-action="click->cart-item#remove">Delete</a>
                {% endif %}
                {% if not immutable %}</form>{% endif %}
        </div>
    {% endfor %}
    <hr />
    <div>
        Total: <span data-cart-total>{{ cart.total }}</span>
    </div>
    <div>
        Netto: <span data-cart-unit-price-total>{{ cart.discountedUnitPriceTotal }}</span>
    </div>
    <div>
        Unit Total: <span data-cart-unit-total>{{ cart.unitTotal }}</span>
    </div>
    <div>
        Shipping: <span data-cart-shipping-total>{{ cart.shippingTotal }}</span>
    </div>
    <div>
        Discount: <span data-cart-discount-total>{{ cart.discountedTotal }}</span>
    </div>
    <div>
        Tax: <span data-cart-tax-total>{{ cart.taxTotal }}</span>
    </div>
</div>

