<div class="block">
    <div class="block-article-stream">
        <div class="small-title">Articles</div>
        {% for article in articles|slice(0, 3) %}
            <article>
                <div class="article-thumb"><img src="{{ media_url(article.picture) }}"></div>
                <div class="article-content">
                    <div class="article-date">{{ article.publicationDate|date('d.m.y') }}</div>
                    <div class="article-title">{{ article.title }}</div>
                    <div class="article-teaser">{{ article.teaser|raw }}</div>
                    <a href="{{ router(article) }}" class="btn">Mehr lesen</a>
                </div>
            </article>
        {% endfor %}
        <div class="recent-articles">
            <div class="small-title">More Articles</div>
            <div class="articles">
                {% for article in articles|slice(3, 7) %}
                    <article>
                        <div class="article-thumb"><img src="{{ media_url(article.picture) }}"></div>
                        <div class="article-content">
                            <div class="article-date">{{ article.publicationDate|date('d.m.y') }}</div>
                            <div class="article-title">{{ article.title }}</div>
                            <div class="article-teaser">{{ article.teaser|raw }}</div>
                            <a href="{{ router(article) }}" class="btn">Mehr lesen</a>
                        </div>
                    </article>
                {% endfor %}
            </div>
        </div>
    </div>
</div>