<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <title>{% block title %}enhavo CMS{% endblock %}</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <meta name="robots" content="noindex, nofollow">

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/enhavoapp/css/app.css') }}">

    <script id="data" type="application/json">{{ data|json_encode|raw }}</script>

    {% block stylesheets %}{% endblock %}
    {% block javascripts %}{% endblock %}
</head>

<body>
<div id="app"></div>
</body>
<script type="text/javascript" src="{{ asset('build/enhavo/view.js') }}"></script>
</html>