{% trans_default_domain 'EnhavoShopBundle' %}
<div class="order-order">
    {{ form_row(form.state) }}
    {{ form_row(form.paymentState) }}
    {{ form_row(form.shippingState) }}
    <hr />
    <div class="row">
        <div class="col-sm-7">
            {% if data.items|length %}
                <div class="itemlist-head">
                    <div class="row">
                        <div class="col-xs-2"></div>
                        <div class="col-xs-6">{{ 'order.label.product'|trans }}</div>
                        <div class="col-xs-2">{{ 'order.label.single_price'|trans }}</div>
                        <div class="col-xs-2">{{ 'order.label.price'|trans }}</div>
                    </div>
                </div>
                <ul class="itemlist">
                {% for item in data.items %}
                    <li>
                        <div class="row">
                            <div class="col-xs-2">
                                {% if item.product and item.product.picture %}
                                    <div class="img">
                                        <img src="{{ media_url(item.product.picture, 100, 100) }}" />
                                    </div>
                                {% endif %}
                            </div>
                            <div class="col-xs-6">
                                <div class="item-title">
                                    {{ item.name }}
                                    <span class="item-quantity">x{{ item.quantity }}</span>
                                </div>
                            </div>
                            <div class="col-xs-2">
                                <div class="item-unit-price">
                                    <div class="details">
                                        <div>{{ 'order.label.unitPrice'|trans }}: {{ item.unitPrice|currency }}</div>
                                        <div>{{ 'order.label.unitTax'|trans }}: {{ item.unitTax|currency }}</div>
                                    </div>
                                    <div>{{ item.unitTotal|currency }}</div>
                                </div>
                            </div>
                            <div class="col-xs-2">
                                <div class="item-unit-price total">
                                    <div class="details">
                                        <div>{{ 'order.label.unitPrice'|trans }}: {{ item.unitPriceTotal|currency }}</div>
                                        <div>{{ 'order.label.unitTax'|trans }}: {{ item.taxTotal|currency }}</div>
                                    </div>
                                    <div>{{ item.total|currency }}</div>
                                </div>
                            </div>
                        </div>
                    </li>
                {% endfor %}
                </ul>
            {% endif %}
            <div class="row">
                <div class="col-xs-8">
                </div>
                <div class="col-xs-4">
                    <div class="order-sum">
                        <div>{{'order.label.unitPrice'|trans }}: {{ data.unitPriceTotal|currency }}</div>
                        <div>
                            {% if data.shippingTotal > 0 %}
                                {{ 'order.label.shipping'|trans }}: {{ data.shippingTotal|currency }}
                            {% else %}
                                {{ 'order.label.freeShipping'|trans }}
                            {% endif %}
                        </div>
                        {% if data.discountTotal > 0 %}
                            <div>{{ 'order.label.discount'|trans }}: {{ data.discountTotal|currency }}</div>
                        {% endif %}
                        <div>
                            {{ 'order.label.salesTax'|trans }}.: {{ data.taxTotal|currency }}
                        </div>
                        <div class="total">{{ 'order.label.sum'|trans }}: {{ data.total|currency }}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-5">
            <div><strong>{{ 'order.label.billingNumber'|trans }}:</strong> {{ data.number }}</div>
            <div><strong>{{ 'order.label.orderedAt'|trans }}:</strong> {{ data.orderedAt|date }}</div>
            <div><strong>{{ 'order.label.eMail'|trans }}:</strong> {{ data.customerEmail }}</div>
            <div><strong>{{ 'order.label.paymentMethod'|trans }}:</strong> {{ data.payment.method.name }}</div>

            <div class="address">
                <div>
                    <strong>
                        {% if not data.differentBillingAddress %}
                            {{ 'order.label.shippingAndBillingAddress'|trans }}
                        {% else %}
                            {{ 'order.label.shippingAddress'|trans }}
                        {% endif %}
                    </strong>
                </div>
                <div>{{ data.shippingAddress.firstName }} {{ data.shippingAddress.lastName }}</div>
                {% if data.shippingAddress.company %}
                    <div>{{ data.shippingAddress.company }}</div>
                {% endif %}
                <div>{{ data.shippingAddress.street }}</div>
                <div>{{ data.shippingAddress.postCode }} {{ data.shippingAddress.city }}</div>
                <div>{{ 'order.label.country'|trans }}: {{ data.shippingAddress.countryCode|country }}</div>
                {% if data.shippingAddress.phoneNumber %}
                    <div>{{ 'order.label.phone'|trans }}: {{ data.shippingAddress.phoneNumber }}</div>
                {% endif %}
                {% if data.differentBillingAddress %}
                    <br />
                    <div><strong>{{ 'order.label.billingAddress'|trans }}</strong></div>
                    <div>{{ data.billingAddress.firstName }} {{ data.billingAddress.lastName }}</div>
                    {% if data.billingAddress.company %}
                        <div>{{ data.billingAddress.company }}</div>
                    {% endif %}
                    <div>{{ data.billingAddress.street }}</div>
                    <div>{{ data.billingAddress.postCode }} {{ data.billingAddress.city }}</div>
                    <div>{{ 'order.label.country'|trans }}: {{ data.billingAddress.countryCode|country }}</div>
                    {% if data.billingAddress.phoneNumber %}
                        <div>{{ 'order.label.phone'|trans }}: {{ data.shippingAddress.phoneNumber }}</div>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>