<html lang="{{  app.request.locale }}">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
        <meta charset="utf-8" />
        <meta name="description" content="{% block meta_description %}{% endblock %}" />
        <meta name="og:url" content="{{ app.request.uri }}" />
        <meta name="og:title" content="{% block og_title %}{% endblock %}" />
        <meta name="og:description" content="{% block og_description %}{% endblock %}" />
        <meta name="og:image" content="{% block og_image %}{% endblock %}" />

        <title>{% block meta_title %}{% endblock %}</title>

        <link rel="icon" href="{{ asset('favicon.ico') }}" type="image/ico">
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" type="image/ico">
        <link rel="apple-touch-icon" href="{{ asset('favicon.ico') }}">
        <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('favicon.ico') }}">
        <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('favicon.ico') }}">

        {% block stylesheets %}
            {{ encore_entry_link_tags('base', null, webpack_build()) }}
        {% endblock %}
    </head>
    <body class="{% block body_class %}{% endblock %}">
        {#Shop#}
        {#<div class="cart-sidebar">#}
            {#<div class="cart-list">#}
            {#</div>#}
        {#</div>#}
        <header>
            <div class="container">
                <nav class="main-menu">
                    <div class="menu-btn" data-show-menu>
                        <div>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                    <a href="/" class="logo">ACME</a>
                    <ul data-menu-items>
                        <li class="active"><a href="">Home</a></li>
                        <li><a href="">Company</a></li>
                        <li><a href="">Blog</a></li>
                        <li><a href="">About</a></li>
                        <li><a href="">Contact</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <main>
            {% block main %}{% endblock %}
        </main>
        <div class="container">
            <footer>
                <a class="logo">ACME</a>
                <div class="row">
                    <div class="col-md-3">
                        <div class="footer-title">Links</div>
                        <ul>
                            <li><a href="">Home</a></li>
                            <li><a href="">Shop</a></li>
                            <li><a href="">Company</a></li>
                            <li><a href="">Contact</a></li>
                            <li><a href="">Imprint</a></li>
                            <li><a href="">AGB</a></li>
                            <li><a href="">Privacy</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <div class="footer-title">About</div>
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.</p>
                    </div>

                    <div class="col-md-3">
                        <div class="footer-title">Approach</div>
                        <p>
                            Hauptstraße 1a, <br>
                            82256 Fürstenfeldbruck
                        </p>
                    </div>
                    <div class="col-md-3">
                        <div class="footer-title">Socialmedia</div>
                        <ul>
                            <li><a href="">Follow us on Facebook</a></li>
                            <li><a href="">Follow us on Twitter</a></li>
                        </ul>
                    </div>
                </div>
            </footer>
        </div>
        {% block javascripts %}
            {{ encore_entry_script_tags('base', null, webpack_build()) }}
        {% endblock %}
    </body>
</html>