<html lang="{{  app.request.locale }}">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
        <meta charset="utf-8" />
        <meta name="description" content="{% block meta_description %}{% endblock %}" />
        <meta name="og:url" content="{{ app.request.uri }}" />
        <meta name="og:title" content="{% block og_title %}{% endblock %}" />
        <meta name="og:description" content="{% block og_description %}{% endblock %}" />
        <meta name="og:image" content="{% block og_image %}{% endblock %}" />

        <title>{% block meta_title %}{% endblock %}</title>

        <link rel="icon" href="{{ asset('favicon.ico') }}" type="image/ico">
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" type="image/ico">
        <link rel="apple-touch-icon" href="{{ asset('favicon.ico') }}">
        <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('favicon.ico') }}">
        <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('favicon.ico') }}">

        {% block stylesheets %}
            {{ encore_entry_link_tags('base', null, webpack_build()) }}
        {% endblock %}
    </head>
    {% block body %}
    <body class="{% block body_class %}{% endblock %}">
        {#Cart Sidebar#}
        <div class="cart-sidebar" data-cart-sidebar>
            <div class="cart-list">
                <h1 class="title">Cart</h1>
                <ul class="cart-products">
                    {% for i in 0..4 %}
                        <li class="cart-product">
                            <div class="cart-product-image"></div>
                            <div class="cart-product-content">
                                <div class="product-vendor">Händler</div>
                                <div class="product-title">Produktname</div>
                                <div class="product-detail">Produktdetail (2 kg)</div>
                            </div>
                            <div class="cart-product-config">
                                <div class="product-amount">
                                    <div class="select" data-select-amount>
                                        <select>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                            <option data-more>+</option>
                                        </select>
                                        <input type="text" data-more-amount>
                                    </div>
                                </div>
                            </div>
                            <div class="product-price">980,57 €</div>
                            <a href="" class="remove"></a>
                        </li>
                    {% endfor %}
                </ul>
                <div class="cart-footer">
                    <div class="cart-config">
                        <div class="voucher">
                            <form action="">
                                <label>Gutschein</label>
                                <input type="text">
                                <input type="submit" class="btn" value="Einlösen">
                            </form>
                        </div>
                        <div class="checkbox">
                            <label>Ich bin mit den Datenschutzrichtlinien und den AGB einverstanden</label>
                            <input type="checkbox">
                            <span></span>
                        </div>
                        <div class="checkbox">
                            <label>Ich akzeptiere die Bestellbedingungen</label>
                            <input type="checkbox">
                            <span></span>
                        </div>
                    </div>
                    <div class="cart-summary">
                        <div class="sum">
                            <div class="pair">
                                <div class="key">Zwischensumme</div>
                                <div class="value">129,30 €</div>
                            </div>
                        </div>
                        <div class="additional-information">
                            <p>ergibt sich aus:</p>
                            <div class="pair">
                                <div class="key">Bestellwert:</div>
                                <div class="value">29,50 €</div>
                            </div>
                            <div class="pair">
                                <div class="key">Versandkosten:</div>
                                <div class="value">5,00 €</div>
                            </div>
                            <div class="pair">
                                <div class="key">zzgl. MwSt.:</div>
                                <div class="value">5,66 €</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cart-action">
                    <a href="" class="btn">Weiter zur Kasse</a>
                </div>
            </div>
        </div>
        <header>
            {% block navigation %}
                {{ widget('navigation', {'navigation': 'main_nav'}) }}
            {% endblock %}
        </header>
        <main>
            {#Hints#}
            {#<div class="hint">#}
                {#<div class="hint-title">Beware of the dog</div>#}
                {#<div>Please keep me informed if you order <a href="">something</a>. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et</div>#}
                {#<a href="" class="btn">Okay mom</a>#}
            {#</div>#}
            {% block main %}{% endblock %}
        </main>
        <div class="container">
            <footer>
                <a class="logo">ACME</a>
                <div class="row">
                    <div class="col-md-3">
                        <div class="footer-title">Links</div>
                        <ul>
                            <li><a href="">Home</a></li>
                            <li><a href="">Shop</a></li>
                            <li><a href="">Company</a></li>
                            <li><a href="">Contact</a></li>
                            <li><a href="">Imprint</a></li>
                            <li><a href="">AGB</a></li>
                            <li><a href="">Privacy</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <div class="footer-title">About</div>
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.</p>
                    </div>

                    <div class="col-md-3">
                        <div class="footer-title">Approach</div>
                        <p>
                            Hauptstraße 1a, <br>
                            82256 Fürstenfeldbruck
                        </p>
                    </div>
                    <div class="col-md-3">
                        <div class="footer-title">Socialmedia</div>
                        <ul>
                            <li><a href="">Follow us on Facebook</a></li>
                            <li><a href="">Follow us on Twitter</a></li>
                        </ul>
                    </div>
                </div>
            </footer>
        </div>
        {% block javascripts %}
            {{ encore_entry_script_tags('base', null, webpack_build()) }}
        {% endblock %}
    </body>
    {% endblock %}
</html>