{% block esperanto_category_collection_widget %}
    <div class="category-container" data-prototype="{{ form_widget(form.categories.vars.prototype)|e }}">
        {% for category in form.categories %}
            {{ form_widget(category) }}
        {% endfor %}
    </div>
    <div class="row mt3">
        <div class="span5"></div>
        <div class="span1 pt1">
            <i class="icon-plus btnsmall button-add-category"></i>
        </div>
    </div>
    {% for child in form %}
        {% if not child.rendered %}
            {{ form_widget(child) }}
        {% endif %}
    {% endfor %}
{% endblock %}


{% block esperanto_category_category_widget %}
    <div class="row pt2">
        <div class="span5">
            {{ form_widget(form.name) }}
            {% for child in form %}
                {% if not child.rendered %}
                    {{ form_widget(child) }}
                {% endif %}
            {% endfor %}
        </div>
        <div class="span1 pt1"><i class="icon-trash btnsmall button-delete-category"></i></div>
    </div>
{% endblock %}

