{% extends template('admin/login/base.html.twig') %}

{% trans_default_domain 'FOSUserBundle' %}

{% block form %}
    <form action="{{ path("enhavo_user_security_login_check") }}" method="post" novalidate>
        <input type="hidden" id="remember_me" name="_remember_me" value="on">
        <div class="mb1">
            <div class="input-container">
                <input placeholder="{{ 'security.login.username'|trans }}" type="text" id="username" name="_username" value="{{ last_username }}" required="required" autofocus />
            </div>
        </div>
        <div class="mb1">
            <div class="input-container">
                <input placeholder="{{ 'security.login.password'|trans }}" type="password" id="password" name="_password" required="required" />
            </div>
        </div>
            <div class="additional-options">
                <div class="remember-me">
                    <input type="checkbox" id="_remember" name="_remember">
                    <span></span>
                    <label for="_remember">{{ 'security.login.remember_me'|trans|nl2br }}</label>
                </div>
                <div class="reset-pw">
                    <a href="{{ path('enhavo_user_reset_password_reset') }}">{{ 'resetting.request.submit'|trans|nl2br }}</a>
                </div>
            </div>
        <button class="btn loginButton" type="submit" id="_submit" name="_submit">{{ 'security.login.submit'|trans|nl2br }}</button>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
        {% if redirect_uri %}
            <input type="hidden" name="_target_path" value="{{ redirect_uri }}" />
        {% endif %}
    </form>
{% endblock %}

