<div class='subscribe'>
    <form method="post" action="{{ path('enhavo_newsletter_subscriber_create') }}" id="addEmailForm">
        <br />
        {{ form_label(form.email) }}
        {{ form_errors(form.email) }}
        {{ form_widget(form.email) }}

        {% for name,child in form %}
            {% if name != '_token' %}
                {{ form_row(child) }}
            {% endif %}
        {% endfor %}

        {{ form_widget(form._token) }}

        <button type="submit" id="addEmail" class="button">Senden</button>
    </form>
</div>