<div class="enhavo_grid">
    <div class="enhavo_grid_picturepicture container">
        {% if data.title %}
            <h2 class="title">{{ data.title|raw }}</h2>
        {% endif %}
        <div class="row">
            <div class="col-sm-6 left6">
                {% if data.fileLeft %}
                    <img class="enhavo_grid_img" src="{{ media_url(data.fileLeft,960) }}">
                {% endif %}
                {% if data.captionLeft %}
                    <p class="picture_caption">{{ data.captionLeft }}</p>
                {% endif %}
            </div>
            <div class="col-sm-6 right6">
                {% if data.fileRight %}
                    <img class="enhavo_grid_img" src="{{ media_url(data.fileRight,960) }}">
                {% endif %}
                {% if data.captionRight %}
                    <p class="picture_caption">{{ data.captionRight }}</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>