<div class="enhavo_content">
    <div class="row enhavo_content_texttext">
        {% if data.title %}
            <h2 class="title col-md-12">{{ data.title }}</h2>
        {% endif %}
        {% if data.layout == 1 %}
            <div class="col-md-4 left6">
                <div class="enhavo_content_text">
                    {% if data.titleLeft %}
                        <h2>{{ data.titleLeft }}</h2>
                    {% endif %}
                    {% if data.textLeft %}
                        {{ data.textLeft|raw }}
                    {% endif %}
                </div>
            </div>
            <div class="col-md-8 right6">
                <div class="enhavo_content_text">
                    {% if data.titleRight %}
                        <h2>{{ data.titleRight }}</h2>
                    {% endif %}
                    {% if data.textRight %}
                        {{ data.textRight|raw }}
                    {% endif %}
                </div>
            </div>
        {% elseif data.layout == 2 %}
            <div class="col-md-8 left6">
                <div class="enhavo_content_text">
                    {% if data.titleLeft %}
                        <h2>{{ data.titleLeft }}</h2>
                    {% endif %}
                    {% if data.textLeft %}
                        {{ data.textLeft|raw }}
                    {% endif %}
                </div>
            </div>
            <div class="col-md-4 right6">
                <div class="enhavo_content_text">
                    {% if data.titleRight %}
                        <h2>{{ data.titleRight }}</h2>
                    {% endif %}
                    {% if data.textRight %}
                        {{ data.textRight|raw }}
                    {% endif %}
                </div>
            </div>
        {% elseif data.layout == 0 %}
            <div class="col-md-6 left6">
                <div class="enhavo_content_text">
                    {% if data.titleLeft %}
                        <h2>{{ data.titleLeft }}</h2>
                    {% endif %}
                    {% if data.textLeft %}
                        {{ data.textLeft|raw }}
                    {% endif %}
                </div>
            </div>
            <div class="col-md-6 right6">
                <div class="enhavo_content_text">
                    {% if data.titleRight %}
                        <h2>{{ data.titleRight }}</h2>
                    {% endif %}
                    {% if data.textRight %}
                        {{ data.textRight|raw }}
                    {% endif %}
                </div>
            </div>
        {% endif %}
    </div>
</div>