{% trans_default_domain translationDomain %}
<div data-test class="row head-row">
    {% for column in columns %}
        <div class="col-xs-{{ column.width }}">{{ column.label|trans }}</div>
    {% endfor %}
</div>

<div class="row row-container">
    <div class="col-xs-{{ viewer.tableWidth }}"{% if viewer.sortable %} data-sortable-container data-move-up-route="{{ viewer.moveUpRoute }}" data-move-down-route="{{ viewer.moveDownRoute }}"{% endif %}>
        {% for item in data %}
            <div class="row entry-row" data-id="{{ item.id }}"{% if viewer.sortable %} data-sortable-row{% endif %}>
                {% for column in columns %}
                    <div class="col-xs-{{ column.width }} col-{{ column.property }}">
                        {% if column.widget is defined %}
                            {{ viewer.renderWidget(column.widget, column.property, item)|raw }}
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        {% else %}
            {{ 'table.empty'|trans('EnhavoAppBundle') }}
        {% endfor %}
    </div>
</div>

{{ pagination_render(data) }}