{% extends 'EnhavoAppBundle::dialog.html.twig' %}

{% trans_default_domain "EnhavoAppBundle" %}

{% block content %}
    <form method="POST" action="{{ form_action }}" {% if form_delete %}data-delete="{{ form_delete }}"{% endif %} data-id="{{ data.id }}">
        {% block form %}
            {% include form_template %}
        {% endblock %}
        {{ block('buttonRow') }}
    </form>
{% endblock %}

{% block buttons %}
    {% for button in buttons %}
        {{ button_render(button.type, button, data) }}
    {% endfor %}
{% endblock %}