{% extends 'EnhavoAppBundle::dialog.html.twig' %}

{% trans_default_domain "EnhavoAppBundle" %}

{% block content %}
    <form method="POST" action="{{ form_action }}" {% if form_delete %}data-delete="{{ form_delete }}"{% endif %} data-id="{{ data.id }}">
        {% block form %}
            {% include form_template %}
        {% endblock %}
        {{ block('buttonRow') }}
    </form>
{% endblock %}

{% block buttons %}
    {% for name, button in buttons %}
        {% if button.display %}
            <div class="col-md-push-2 col-md-2">
                <button data-button data-route="{{ button.route }}" data-type="{{ name }}" class="btn col-md-12" type="button"><i class="button-icon {{ button.icon }}"></i> {% if button.translationDomain != null %}{{ button.label|trans({},  button.translationDomain) }}{% else %}{{ button.label|trans({}, translationDomain) }}{% endif %}</button>
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}