<div class='subscribe'>
    <form method="post" action="{{ path('esperanto_newsletter_create') }}" id="addEmailForm">
        <br />
        {{ form_label(form.email) }}
        {{ form_errors(form.email) }}
        {{ form_widget(form.email) }}

        {{ form_widget(form._token) }}



        {% for child in form %}
            {{ form_row(child) }}
        {% endfor %}

        <button type="submit" id="addEmail" class="button">Senden</button>
    </form>
</div>