<section id="contact">
    <div class="container">
        <h2>Contact</h2>
        <p class="capitals">Tell us your concern</p>
    </div>
    <div class="row npam">
        <div class="col-md-8 col-sm-12 npam">
            <div class="form">
                <form method="post" action="{{ path('enhavo_contact_submit', { name: name }) }}" data-contact-form>
                    <div class="row npam">
                        <div class="col-sm-6 npam">
                            {{ form_widget(form.email, {'attr': {'type': 'text','placeholder': 'email', 'name': 'email', 'id': 'email'}}) }}
                            {{ form_widget(form.firstName, {'attr': {'type': 'text','placeholder': 'firstname', 'name': 'firstname', 'id': 'firstname'}}) }}
                            {{ form_widget(form.lastName, {'attr': {'type': 'text','placeholder': 'lastname', 'name': 'lastname', 'id': 'lastname'}}) }}
                        </div>
                        <div class="col-sm-6 npam">
                            {{ form_widget(form.message, {'attr': {'name': 'message','id': 'message', 'placeholder': 'your message'}}) }}
                            {{ form_row(form._token) }}
                            <button type="submit" class="button blue"><i class="icon-forward"></i></button>
                        </div>
                    </div>
                    <div class="contact-form-response-container" data-response-container></div>
                </form>
                <div id="form-messages" data-response-container></div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 npam">
            <div id="map"></div>
        </div>
    </div>
</section>