<img src="{{ admin_asset(enhavo_logo_path()) }}" alt="Enhavo CMS Logo" class="menu-logo"/>
<ul id="menu-main">
{% for menu in menus %}
    {% set translationDomain = null %}
    {% for item in menu.labelAttributes %}
        {% set translationDomain = item %}
    {% endfor %}
    {% trans_default_domain translationDomain %}
    {% if menu.isDisplayed %}
        <li class="{% if menu.isCurrent() %}selected{% endif %}">
            <a href="{{ menu.uri }}" class="{{ menu.attribute('class') }} icon-{{ menu.icon }}" title="{{ menu.label|trans|nl2br }}">
              <span>{{ menu.label|trans|nl2br }}</span>
            </a>
        </li>
    {% endif %}
{% endfor %}
    {% if showBranding() %}
        <p class="desc" data-description-text>
            enhavo is an open source <br/>
            content-management-system <br/>
            based on symfony and sylius. <br/>
            <br/>
            Created by <a href="http://xq-web.de" target="_blank">xq-web.de</a> {% if showVersion() %}(v{{ version() }}){% endif %}
        </p>
    {% endif %}
</ul>
