<img src="{{ admin_asset(branding_logo()) }}" class="menu-logo"/>
<ul id="menu-main" data-menu>
    {% for menu in menus %}
        {{ menu.render()|raw }}
    {% endfor %}

    {% if is_branding() %}
        <p class="desc" data-description-text>
            {% if branding_text() %}
                {{ branding_text() }} <br />
            {% endif %}
                <br />
            {% if is_branding_version() and is_branding_created_by() %}
                Created by <a href="https://www.xq-web.de" target="_blank">xq-web.de</a> ({{ branding_version() }})
            {% elseif is_branding_version() %}
                Version {{ branding_version() }}
            {% elseif is_branding_created_by() %}
                Created by <a href="https://www.xq-web.de" target="_blank">xq-web.de</a>
            {% endif %}
        </p>
    {% endif %}
</ul>
