{% extends template('theme_base') %}

{% trans_default_domain 'EnhavoUserBundle' %}

{% block main %}
    <div id="background" style="background-image: url({{ asset(branding_background_image()) }})">
        <div id="loginBox">
            <div class="loginContainer">

                {% if error %}
                    <div class="col-md-push-2 col-md-4 error" id="overlayMessage" style="display: block;">
                        <div>{{ 'reset.form.error.invalid-user'|trans|nl2br }}</div>
                    </div>
                {% endif %}

                {% if reset %}
                    <p class="confirmation"><i class="fa fa-check"></i>{{ 'reset.message.email'|trans|nl2br }}</p>
                    <div class="reset">
                        <button class="btn resetButton"><a href="{{ path('enhavo_user_theme_security_login') }}">{{ 'reset.label.login'|trans|nl2br }}</a></button>
                    </div>
                {% else %}
                    <form action="{{ path("enhavo_user_theme_user_reset_password") }}" method="post">
                        <div class="input-container mb1">
                            <input placeholder="{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}" type="text" id="username" name="username" value="" required="required" />
                        </div>
                        <button class="btn loginButton" type="submit" id="_submit" name="_submit">{{ 'reset.form.action.reset-password'|trans }}</button>
                        <div class="reset">
                            <button class="btn resetButton"><a href="{{ path('enhavo_user_theme_security_login') }}">{{ 'reset.label.login'|trans }}</a></button>
                        </div>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
