{% for item in cart.items %}
    <table class="shop-product cart-summary">
        {% if not immutable %}<form action="{{ path('enhavo_shop_theme_cart_save_quantity', {id: item.id, _format: 'json'}) }}" method="POST" data-form-cart-quantity data-item-id="{{ item.id }}">{% endif %}
            <thead>
                <tr>
                    <th colspan="3">
                        <div class="product-thumb">{% if item.product.picture %}<img src="{{ media_url(item.product.picture) }}" />{% endif %}</div>
                        <div class="product-title">
                            <span class="product-quantity" data-product-quantity>
                                <span class="edit-quantity" data-edit-quantity><i class="icon-edit"></i></span>
                                {% if immutable %}
                                    <div></div>
                                {% else %}
                                    <span class="quantity-input" data-quantity-input>
                                        <input type="text" name="quantity" value="{{ item.quantity }}" />
                                        <button type="submit" class="save-quantity" data-save-quantity><span class="icon-save"></span></button>
                                    </span>
                                {% endif %}
                                <span data-quantity-value class="quantity-value">
                                    {{ item.quantity }}
                                </span>x
                            </span>
                            {{ item.product.name }}
                        </div>
                    </th>
                    <th colspan="1"><span class="align">Unit Price: <span data-cart-item-unit-price><strong>{{ item.unitPrice|currency }}</strong></span></span></th>
                    <th colspan="1" class="price-total">
                        <span class="align">Unit Total: <span data-cart-item-unit-total><strong>{{ item.unitPriceTotal|currency }}</strong></span></span>
                        <span class="show-details" data-show-details><i class="icon-info"></i></span>
                        {% if not immutable %}
                            <a  class="remove-product" data-cart-item-remove href="{{ path('enhavo_shop_theme_cart_item_remove', {id: item.id}) }}"><i class="icon-trash"></i></a>
                        {% endif %}
                    </th>
                </tr>
            </thead>
            <tbody class="price-details" data-price-details>
                <tr>
                    <td><strong>Pricing details</strong></td>
                    <td>Unit Tax: <span data-cart-item-unit-tax><strong>{{ item.unitTax|currency }}</strong></span></td>
                    <td>Tax Total: <span data-cart-item-tax-total><strong>{{ item.taxTotal|currency }}</strong></span></td>
                    <td>Net Total: <span data-cart-item-unit-price-total><strong>{{ item.unitPriceTotal|currency }}</strong></span></td>
                    <td>Total: <span data-cart-item-total><strong>{{ item.total|currency }}</strong></span></td>
                </tr>
            </tbody>
            {% if not immutable %}</form>{% endif %}
    </table>
{% endfor %}
<hr />
<table class="cart-summary">
    <tbody>
        <tr>
            <td>
                Netto: <span><strong data-cart-unit-price-total>{{ cart.unitPriceTotal|currency }}</strong></span>
            </td>
            {#<td>#}
            {#Unit Total: <span data-cart-unit-total>{{ cart.unitTotal|currency }}</span>#}
            {#</td>#}
            <td>
                Tax: <span><strong data-cart-tax-total>{{ cart.taxTotal|currency }}</strong></span>
            </td>
            <td>
                Discount: <span><strong data-cart-discount-total>{{ cart.discountTotal|currency }}</strong></span>
            </td>
            <td>
                Shipping: <span><strong data-cart-shipping-total>{{ cart.shippingTotal|currency }}</strong></span>
            </td>
            <td>
                Total: <span><strong data-cart-total>{{ cart.total|currency }}</strong></span>
            </td>
        </tr>
    </tbody>
</table>