<nav class="clearfix">
    <a class="menu-btn" href="" data-open-menu>
        <img src="{{ asset('/bundles/enhavoproject/img/menu-btn.svg') }}" alt=""/>
    </a>
    <ul data-menu-items>
        <span class="nav-container clearfix">
            {{ theme_widget_render('search') }}
            <li><a href="{{ path('enhavo_project_hompage_index') }}">Home</a></li>
            <li><a href="{{ path('enhavo_project_download_index') }}">Downloads</a></li>
            <li><a href="{{ path('enhavo_project_theme_shop_index') }}">Shop</a></li>
            {% for page in pages %}
                <li><a href="{% if page %}{{ router(page) }}{% else %}#{% endif %}">{{ page.title }}</a></li>
            {% endfor %}
            <a class="shopping-cart" href="{{ path('enhavo_shop_theme_cart_summary') }}" data-shopping-cart>
                <i class="icon-shopping-cart"></i>
                <span class="indicator">3</span>
            </a>
        </span>
    </ul>
</nav>