{% trans_default_domain translationDomain %}

<div class="row head-row {% if batches %}has-batch-actions{% endif %}">
    {% for column in columns %}
        <div class="col-xs-{{ table_widget_width(column.type, column) }}">{{ table_widget_label(column.type, column) }}</div>
    {% endfor %}
</div>

<div class="row row-container{% if sortable %} sortable-droptarget{% endif %}">
    <div class="col-xs-{{ width }}"
        {% if sortable %}
            data-sortable-container data-move-after-route="{{ move_after_route }}"
            data-move-to-page-route="{{ move_to_page_route }}"
        {% endif %}>
        {% for item in data %}
            <div class="row entry-row{% if batches %} has-batch-actions{% endif %}" data-id="{{ item.id }}"{% if sortable %} data-sortable-row{% endif %}>
                {% if batches %}
                    <div class="batch-checkbox-wrapper">
                      <input type="checkbox" data-batch-selection value="{{ item.id }}" />
                    </div>
                {% endif %}
                {% for column in columns %}
                    <div class="col-xs-{{ table_widget_width(column.type, column) }}">
                        {{ table_widget_render(column.type, column, item) }}
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="no-data">
                {{ 'table.empty'|trans({},'EnhavoAppBundle') }}
            </div>
        {% endfor %}
    </div>
</div>

{% if batches and data|length > 0 %}
    <form data-batch-action-form action="{{ path(batch_route) }}">
        {{ batches_render(batches) }}
    </form>
{% endif %}

{{ pagination_render(data) }}
