<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>{% block title %}enhavo CMS{% endblock %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400,600,700"  type="text/css">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/enhavoassets/css/bootstrap-custom.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/enhavoassets/css/enhavo-iconfont.css') }}">

    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/enhavoassets/vendor/jquery-ui/themes/base/jquery-ui.min.css') }}" >
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/enhavoassets/vendor/select2/select2.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/enhavoassets/vendor/cropper/dist/cropper.min.css') }}">

    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/enhavoapp/css/base.css') }}" >
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/enhavoapp/css/theme.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/enhavoapp/css/form.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/enhavoapp/css/icheck.css') }}">


    {% block stylesheets %}
        <!-- additional stylesheets -->
        {% if viewer is defined %}
            {% for stylesheet in viewer.stylesheets %}
                <link rel="stylesheet" href="{{ admin_asset(stylesheet) }}" />
            {% endfor %}
        {% endif %}
    {% endblock %}


    {{ require_js_configuration() }}


    <!--
    <script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

    <script type="text/javascript" src="{{ asset('bundles/bazingajstranslation/js/translator.min.js') }}"></script>
    <script type="text/javascript" src="{{ path('bazinga_jstranslation_js') }}"></script>

    <script type="text/javascript" src="{{ asset('bundles/enhavoapp/js/classes/Form.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/enhavoapp/js/classes/Admin.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/enhavoapp/js/classes/Templating.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/enhavoapp/js/classes/Button.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/enhavoapp/js/plugin.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/enhavoapp/js/bootstrap.js') }}"></script>

    <script type="text/javascript" src="{{ asset('bundles/enhavomedia/js/ImageCropper.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/enhavomedia/js/UploadForm.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/enhavogrid/js/ContentForm.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/enhavonewsletter/js/NewsletterForm.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/enhavocategory/js/CategoryForm.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/enhavoslider/js/SliderForm.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/enhavosearch/js/SearchForm.js') }}"></script>
    -->

    {% block javascripts %}
        <!-- additional javascripts -->
        {% if viewer is defined %}
            {% for javascript in viewer.javascripts %}
                <script type="text/javascript" src="{{ admin_asset(javascript) }}"></script>
            {% endfor %}
        {% endif %}
    {% endblock %}

</head>
<body>

{% block body %}
    <div id="overlay"></div>
    <div id="overlayContent"></div>
    <div id="overlayMessage"></div>
    <div id="iframeContainer">
        <div class="close"><i class="fa fa-times"></i></div>
        <iframe src="" id="iframe" name="iframe"></iframe>
    </div>
    <div class="clearfix">
        <div id="page" class="clearfix">
            <div class="menu-section">
                <nav id="user-menu">
                    <ul class="clearfix" data-user-menu>
                        <li class="menu-btn"><button class="btn dropdown" data-open-usermenu>{{ 'label.greeting'|trans({username: app.user.username}, 'EnhavoAppBundle')|nl2br }}</button></li>
                        <li data-usermenu-link><a href="/" target="_blank">{{ 'label.goToPage'|trans({}, 'EnhavoAppBundle')|nl2br }}</a></li>
                        <li data-usermenu-link data-action data-action-type="overlay" data-action-route="enhavo_user_user_password">
                            <a href="javascript:return false;">{{ 'label.changePassword'|trans({}, 'EnhavoAppBundle')|nl2br }}</a>
                        </li>
                        <li data-usermenu-link><a href="{{ path('fos_user_security_logout') }}">Log out</a></li>
                    </ul>
                </nav>
                <a class="responsive-menu-btn" data-mobile-menu></a>
                <div id="menu-main-container" data-menu-container>{{ admin_menu_render() }}</div>
            </div>
            <div id="content-container" class="container" data-content-container>{% block content %}{% endblock %}</div>
        </div>
    </div>
{% endblock %}
</body>
</html>