<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <title>{% block title %}enhavo{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <meta name="robots" content="noindex, nofollow">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <script id="data" type="application/json">{{ data|json_encode|raw }}</script>
    {% block stylesheets %}
        {{ encore_entry_link_tags('enhavo/application', null, 'enhavo') }}
    {% endblock %}
</head>

<body>
    <div id="app"
         data-controller="application"
         data-application-application-value="@enhavo/app/main/MainApp"
         data-application-component-value="@enhavo/app/main/components/MainComponent.vue"
    ></div>
    <script id="routes" type="application/json">{{ routes|raw }}</script>
    <script id="translations" type="application/json">{{ translations|json_encode|raw }}</script>

    {% block javascripts %}
        {{ encore_entry_script_tags('enhavo/application', null, 'enhavo') }}
    {% endblock %}
</body>
</html>
