{% block esperanto_content_widget %}

    <div class="row mb1 contentForm">
        <div class="menu">
            <div class="triangle-up"></div>
            <div class="triangle-down"></div>
            <ul>
                {% for item in items %}
                    <li class="addItem" data-item="{{ item.type }}">{{ item.label }}</li>
                {% endfor %}
            </ul>
        </div>

        <div class="col-md-9" float="left">
            <div>
              <i class="fa fa-plus btnsmall addButton" data-name="{{ full_name }}" data-position="top" ></i>
            </div>
            <div class="mt1em">
              <div class="item-container">
                {% for child in form.children %}
                  {% for item in child.children %}
                    {% set formItem = item.itemType %}
                    {% set formName = item.vars.full_name %}
                    {% set formOrder = item.vars.value.order %}
                    {% set formType = item.vars.value.type %}
                    {% include 'esperantoContentBundle:Form:form.html.twig' %}
                  {% endfor %}
                {% endfor %}
              </div>
            </div>
            <div class="mt1em">
                <i class="fa fa-plus btnsmall addButton" data-name="{{ full_name }}" data-position="bottom"></i>
            </div>
        </div>

    </div>
{% endblock %}

{% block esperanto_content_item_widget %}
    <input type="text" name="{{ full_name }}[type]" value="{{ form.type.vars.value }}">
{% endblock %}

{% block esperanto_content_configuration_widget %}
    {{ form_widget(form.form) }}
{% endblock %}

{% block esperanto_content_item_picture_widget %}
    {{ form_widget(form.files) }}
{% endblock %}

{% block esperanto_content_item_textpicture_widget %}
    <div class="padding">
        {{ form_widget(form.title) }}
    </div>
    <div class="padding">
        {{ form_widget(form.text) }}
    </div>

    {{ form_widget(form.files) }}

    <div class="padding textleft">
       {{ form_widget(form.textLeft) }}
    </div>
{% endblock %}

{% block esperanto_content_item_texttext_widget %}
    <div class="padding">
        {{ form_widget(form.titleLeft) }}
    </div>
    <div class="padding">
        {{ form_widget(form.textLeft) }}
    </div>

    <div class="padding">
        {{ form_widget(form.titleRight) }}
    </div>
    <div class="padding">
        {{ form_widget(form.textRight) }}
    </div>
{% endblock %}

{% block esperanto_content_item_gallery_widget %}
    <div class="padding">
        {{ form_widget(form.title) }}
    </div>
    <div class="padding">
        {{ form_widget(form.text) }}
    </div>
    {{ form_widget(form.files) }}
{% endblock %}

{% block esperanto_content_item_picturepicture_widget %}
    {{ form_widget(form.filesLeft) }}

    {{ form_widget(form.filesRight) }}

    <div class="padding frame">
        {{ form_widget(form.frame) }}
    </div>
{% endblock %}

{% block esperanto_content_item_citetext_widget %}
    <div class="padding">
        {{ form_widget(form.title) }}
    </div>
    <div class="padding">
        {{ form_widget(form.text) }}
    </div>
    <div class="padding">
        {{ form_widget(form.cite) }}
    </div>
    <div class="padding textleft">
        {{ form_widget(form.textLeft) }}
    </div>
{% endblock %}

{% block esperanto_content_item_contact_widget %}

    {{ form_widget(form.files) }}

    <div class="padding">
        {{ form_widget(form.title) }}
    </div>
    <div class="padding">
        {{ form_widget(form.text) }}
    </div>
{% endblock %}

{% block esperanto_content_item_text_widget %}
    <div class="padding">
        {{ form_widget(form.title) }}
    </div>
    <div class="padding">
        {{ form_widget(form.text) }}
    </div>
{% endblock %}

{% block esperanto_content_item_video_widget %}
    <div class="padding">
        Video URL (youtube/vimeo)
        {{ form_widget(form.url) }}
    </div>
{% endblock %}

