{% form_theme formItem _self %}

<div class="item">
    <div class="button-container">
        <div class="button button-up"><i class="fa fa-angle-up"></i></div>
        <div class="button button-down"><i class="fa fa-angle-down"></i></div>
        <div class="button button-delete"><i class="fa fa-remove"></i></div>
        <div class="label">{{ label }}</div>
    </div>

    <div>
        {% for itemType in formItem.children %}
            <div class="form-field">
                <div class="label">{{ form_label(itemType) }}</div>
                {{ form_widget(itemType) }}
            </div>
        {% endfor %}
    </div>

    <input type="hidden" class="typeInput" name="{{ formName }}[type]" value="{{ formType }}">
    <input type="hidden" class="orderInput" name="{{ formName }}[order]" value="{{ formOrder }}">
</div>
