<div class="item">
    <div class="button-container">
        <div class="button button-up"><i class="fa fa-angle-up"></i></div>
        <div class="button button-down"><i class="fa fa-angle-down"></i></div>
        <div class="button button-delete"><i class="fa fa-remove"></i></div>
    </div>

    <div>
        {{ form_widget(formItem) }}
    </div>

    <input type="hidden" class="typeInput" name="{{ formName }}[type]" value="{{ formType }}">
    <input type="hidden" class="orderInput" name="{{ formName }}[order]" value="{{ formOrder }}">
</div>
