{% trans_default_domain 'EnhavoShopBundle' %}

{% form_theme form 'EnhavoShopBundle:Theme/Form:fields.html.twig' %}

<div class="coupon">
    <div data-coupon-form data-reedem-action="{{ path('enhavo_shop_theme_promotion_redeem_coupon') }}" data-cancel-action="{{ path('enhavo_shop_theme_promotion_cancel_coupon') }}" >
        {% if order.promotionCoupon %}
            <button data-coupon-cancel disabled>{{ 'promotion.coupon.form.action.cancel'|trans }}</button>
        {% else %}
            {{ form_errors(form) }}
            {{ form_row(form.promotionCoupon) }}
            {{ form_row(form._token) }}
            <button data-coupon-redeem disabled>{{ 'promotion.coupon.form.action.redeem'|trans }}</button>
        {% endif %}
    </div>
</div>