<form method="POST" action="{{ path('enhavo_shop_theme_order_user_address') }}">
    {{ form_widget(form.shippingAddress) }}
    {{ form_widget(form.billingAddress) }}
    {{ form_widget(form.differentBillingAddress) }}
    {{ form_widget(form._token) }}
    <button type="submit">save</button>
</form>