{% extends baseTemplate %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/enhavoshop/js/Checkout.js') }}"></script>
{% endblock %}

{% block main %}
    <h1>Confirm</h1>

    <div>
        <form action="{{ path('enhavo_promotion_reedem_coupon') }}" method="POST">
            {{ form_errors(couponForm) }}
            {{ form_row(couponForm.promotionCoupon) }}
            {{ form_row(couponForm._token) }}
            <button type="submit">Redeem</button>
        </form>
    </div>

    <div>
        <form action="{{ path('enhavo_checkout_confirm') }}" method="POST" data-checkout-form>
            {{ form_errors(form) }}
            {{ form_row(form._token) }}
            <button type="submit">Send</button>
        </form>
    </div>
{% endblock %}