{% extends 'EnhavoShopBundle:Theme/Checkout:payment.html.twig' %}

{% block bodyclass %}light{% endblock %}

{% block main %}
    {% form_theme form _self %}
    <div class="container">
        <h2>Payment</h2>
        <form action="{{ path('enhavo_shop_theme_checkout_payment') }}" method="POST" data-checkout-form>
            {{ form_errors(form) }}
            {{ form_widget(form.payment) }}
            {{ form_row(form._token) }}
            <button type="submit" class="btn rounded aubergine checkout">Senden</button>
        </form>
    </div>
{% endblock %}

{% block enhavo_shop_payment_widget %}
    {% trans_default_domain 'EnhavoShopBundle' %}
    {% for key, checkbox in form.method.children %}
        <div class="payment-choice-{{ checkbox.vars.label }} payment-choice">
            <div class="styled-checkbox">
                {{ form_widget(checkbox) }}
                <span></span>
                <label><div class="payment-logo"><i class="icon-cc-amex"></i></div>{{ ('checkout.payment.form.label.' ~ checkbox.vars.label)|trans }}</label>
            </div>
        </div>
        {#test#}
        <div class="payment-choice-xo payment-choice">
            <div class="styled-checkbox">
                <input type="radio" id="enhavo_shop_order_payment_payment_method_1" name="enhavo_shop_order_payment[payment][method]" required="required" value="1">
                <span></span>
                <label><div class="payment-logo"><i class="icon-cc-amex"></i></div>Paypal</label>
            </div>
        </div>
    {% endfor %}
{% endblock %}

