{% import _self as element %}

{% macro text(block, layout = 0) %}
    {% import _self as element %}
    <div class="{% if not block.float %}{% if layout == 0 %}col-sm-6{% endif %}{% if layout == 1 %}col-sm-3{% endif %}{% if layout == 2 %}col-sm-9{% endif %}{% endif %} text_container">
        <div class="enhavo_block_text">
            {% if block.title %}
                <h2 class="title">{{ block.title }}</h2>
            {% endif %}
            {% if block.float %}
                {{ element.picture(block) }}
            {% endif %}
            {% if block.text %}
                <p>{{ block.text|raw }}</p>
            {% endif %}
        </div>
    </div>
{% endmacro %}

{% macro picture(block, layout = 0) %}
    <div class="picture_container {% if not block.float %}{% if layout == 0 %}col-sm-6{% endif %}{% if layout == 1 %}col-sm-3{% endif %}{% if layout == 2 %}col-sm-9{% endif %}{% endif %}">
        {% if block.file %}
            <img class="enhavo_block_img" src="{{ media_url(block.file, 'container_width') }}">
        {% endif %}
        {% if block.caption %}
            <p class="picture_caption">{{ block.caption }}</p>
        {% endif %}
    </div>
{% endmacro %}


<div class="enhavo_block">
    <div class="enhavo_block_textpicture container{% if block.float %}float{% endif %} {% if block.textLeft %}position-right{% else %}position-left{% endif %}">
        <div class="row">
            {% if block.float %}
                {{ element.text(block) }}
            {% else %}
                {% if block.textLeft %}
                    {{ element.text(block, block.layout == 1 ? 1 : (block.layout == 2 ? 2 : 0)) }}
                    {{ element.picture(block, block.layout == 1 ? 2 : (block.layout == 2 ? 1 : 0)) }}
                {% else %}
                    {{ element.picture(block, block.layout == 1 ? 1 : (block.layout == 2 ? 2 : 0)) }}
                    {{ element.text(block, block.layout == 1 ? 2 : (block.layout == 2 ? 1 : 0)) }}
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>