{% import _self as element %}

{% macro text(block, layout = 0) %}
    {% import _self as element %}
    <div class="{% if not block.float %}{% if layout == 0 %}col-md-6{% endif %}{% if layout == 1 %}col-md-4{% endif %}{% if layout == 2 %}col-md-8{% endif %}{% endif %} text-container">
        {% if block.title %}
            {{ block.title|headline('title') }}
        {% endif %}
        {% if block.float %}
            {{ element.picture(block) }}
        {% endif %}
        {% if block.text %}
            <p>{{ block.text|html_sanitize }}</p>
        {% endif %}
    </div>
{% endmacro %}

{% macro picture(block, layout = 0) %}
    <div class="{% if not block.float %}{% if layout == 0 %}col-md-6{% endif %}{% if layout == 1 %}col-md-4{% endif %}{% if layout == 2 %}col-md-8{% endif %}{% endif %} picture-container">
        <figure>
            {% if block.file %}
                <img src="{{ media_url(block.file, 'container_width') }}">
            {% endif %}
            {% if block.caption %}
                <figcaption>{{ block.caption }}</figcaption>
            {% endif %}
        </figure>
    </div>
{% endmacro %}

<article class="block">
    <div class="block-text-picture{% if block.float %}-float{% endif %} {% if block.textLeft %}text-picture{% else %}picture-text{% endif %}">
        <div class="row">
            {% if block.float %}
                {{ element.text(block) }}
            {% else %}
                {% if block.textLeft %}
                    {{ element.text(block, block.layout == 1 ? 1 : (block.layout == 2 ? 2 : 0)) }}
                    {{ element.picture(block, block.layout == 1 ? 2 : (block.layout == 2 ? 1 : 0)) }}
                {% else %}
                    {{ element.picture(block, block.layout == 1 ? 1 : (block.layout == 2 ? 2 : 0)) }}
                    {{ element.text(block, block.layout == 1 ? 2 : (block.layout == 2 ? 1 : 0)) }}
                {% endif %}
            {% endif %}
        </div>
    </div>
</article>