<div class="row content">
    <div class="content_textpicture">
        {% if data.textLeft == 0 %}
        <div class="col-xs-6 left6">
            {% for file in data.files %}
                {% if loop.first %}
                <img class="content_img" src="{{ media_url(file,960) }}">
                {% endif %}
            {% endfor %}
        </div>
        <div class="col-xs-6 right6">
            <div class="content_text">
                {% if data.title %}
                    <h2>{{ data.title }}</h2>
                {% endif %}
                {% if data.text %}
                    {{ data.text|raw }}
                {% endif %}
            </div>
        </div>
        {% else %}
            <div class="col-xs-6 left6">
                <div class="content_text">
                    {% if data.title %}
                        <h2>{{ data.title }}</h2>
                    {% endif %}
                    {% if data.text %}
                        {{ data.text|raw }}
                    {% endif %}
                </div>
            </div>
            <div class="col-xs-6 right6">
                {% for file in data.files %}
                    {% if loop.first %}
                        <img class="content_img" src="{{ media_url(file,960) }}">
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
    </div>
</div>