<div id="search-results">
    <h3>{{ 'search.label.result'|trans({}, 'EnhavoSearchBundle')|nl2br }}</h3>
    {% if result is iterable %}
        {% for item in data %}
            <div data-id={{ item.resource.id }} {% if is_granted('WORKFLOW_UPDATE', item.resource) %}data-update-route="{{ item.resource|updateRoute }}"{% endif %} class="entry-row">
                <div class="row">
                    <div class="col-xs-9">
                        <h1> {{ item.resource.title|html_sanitize }} </h1>
                        {{ item.highlightedText|html_sanitize }}
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        {{ result|nl2br }}
    {% endif %}
</div>