<div id="search-results">
    <h3>{{ 'search.label.result'|trans({}, 'EnhavoSearchBundle')|nl2br }}</h3>
    {% if results is iterable %}
        {% for item in results %}
            <div data-id="{{ item.resource.id }}" data-url="{{ resolve_url(item.resource) }}" style="border-bottom: 5px solid #e4e6ea;" class="entry-row">
                <div class="row">
                    <div class="col-xs-12">
                        <h1>{{ item.resource.title|raw }}</h1>
                        {{ item.highlightedText|raw }}
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <br />
        {{ results|nl2br }}
    {% endif %}
</div>