<div id="search-results">
    <h3>{{ 'search.label.result'|trans({}, 'EnhavoSearchBundle')|nl2br }}</h3>
    {% if results is iterable %}
        {% for item in results %}
            <div data-id="{{ item.subject.id }}" data-url="{{ router(item.subject) }}" style="border-bottom: 5px solid #e4e6ea;" class="entry-row">
                <div class="row">
                    <div class="col-xs-12">
                        <h1>{{ item.title }}</h1>
                        {{ item.text|raw }}
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
</div>