<div class="row">
  <div class="batch-actions-wrapper">
    <div class="batch-checkbox-wrapper batch-select-all">
      <input type="checkbox" />
    </div>
    <div class="batch-actions-select-wrapper">
      <select data-batch-actions-select name="batchActionCommand">
        <option value="0">{{ 'batch.form.label.action'|trans({}, 'EnhavoAppBundle') }}</option>
        {% for batch in batches %}
            <option value="{{ batch.type }}" data-confirm-message="{{ batch.confirmMessage }}">{{ batch.label }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="batch-actions-submit-wrapper">
      <button class="btn disabled"
              data-batch-actions-submit
              data-message-none-selected="{{ 'batch.form.error.noneSelected'|trans({}, 'EnhavoAppBundle') }}"
              data-message-no-action-selected="{{ 'batch.form.error.noActionSelected'|trans({}, 'EnhavoAppBundle') }}">
        <i class="icon-ok-circled"></i> {{ 'batch.form.action.submit'|trans({}, 'EnhavoAppBundle') }}
      </button>
    </div>
  </div>
</div>