<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

        <title>enhavo CMS</title>

        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">

        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/enhavoassets/vendor/jquery-ui/themes/base/jquery-ui.min.css') }}" >
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/enhavogrid/css/style.css') }}" >
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/enhavoassets/css/enhavo-iconfont.css') }}" >

        {{ require_js_configuration() }}

        <script type="text/javascript">
          require(['jquery', 'grid/Adapter/JQueryAdapter'], function($) {
            $(function() {
              $('form').grid();
            })
          });
        </script>
    </head>
    <body>
        <form method="post" action="{{ path('enhavo_demo_demo_media') }}">
            {{ form_widget(form) }}
            <button type="submit">Speichern</button>
        </form>
    </body>
</html>
