{% extends template('admin/view/base.html.twig') %}

{% block stylesheets %}
    {{ parent() }}
    {{ vite_css_tags('entrypoints/application.js', 'admin') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ vite_js_tags('entrypoints/application.js', 'admin') }}
    {{ vite_js_preload_tags('entrypoints/application.js', 'admin') }}
{% endblock %}

{% block routes %}
    <script id="routes" type="application/json">{{ routes|json_encode|raw }}</script>
{% endblock %}

{% block content %}
    <script id="vue_routes" type="application/json">{{ vue_routes|json_encode|raw }}</script>
    <script id="branding" type="application/json">{{ branding|json_encode|raw }}</script>
    <div data-controller="user"></div>
{% endblock %}
