{% extends template('base') %}

{% trans_default_domain 'EnhavoUserBundle' %}

{% block body %}
    <div id="background" style="background-image: url({{ asset(branding_background_image()) }})">
        <div id="loginBox">
            <div class="loginContainer">

                {% if error %}
                    <div class="col-md-push-2 col-md-4 error" id="overlayMessage" style="display: block;">
                        <div>{{ 'reset.form.error.invalid-user'|trans|nl2br }}</div>
                    </div>
                {% endif %}

                <div class="ribbon">
                    <span>{{ branding_version() }}</span>
                </div>
                <div class="logo">
                    <img src="{{ asset('/bundles/enhavoapp/img/enhavo_admin_logo.svg') }}" alt="Enhavo CMS"/>
                </div>

                {% if reset %}
                    <p class="confirmation"><i class="fa fa-check"></i>{{ 'reset.message.email'|trans|nl2br }}</p>
                    <div class="reset">
                        <button class="btn resetButton"><a href="{{ path('enhavo_user_security_login') }}">{{ 'reset.label.login'|trans|nl2br }}</a></button>
                    </div>
                {% else %}
                    <form action="{{ path("enhavo_user_reset_password_reset") }}" method="post">
                        <div class="input-container mb1">
                            <input placeholder="{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}" type="text" id="username" name="username" value="" required="required" />
                        </div>
                        <button class="btn loginButton" type="submit" id="_submit" name="_submit">{{ 'reset.form.action.reset-password'|trans }}</button>
                        <div class="reset">
                            <button class="btn resetButton"><a href="{{ path('enhavo_user_security_login') }}">{{ 'reset.label.login'|trans }}</a></button>
                        </div>
                    </form>
                {% endif %}
            </div>
            <p>
                {% if is_branding_version() and is_branding_created_by() %}
                    Created by <a href="https://www.xq-web.de" target="_blank">xq-web.de</a> ({{ branding_version() }})
                {% elseif is_branding_version() %}
                    Version {{ branding_version() }}
                {% elseif is_branding_created_by() %}
                    Created by <a href="https://www.xq-web.de" target="_blank">xq-web.de</a>
                {% endif %}
            </p>
        </div>
    </div>
{% endblock body %}
