{% extends template('base') %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
    <div id="background">
        <div id="loginBox">
            <div class="loginContainer">
                {% if error %}
                    <div class="col-md-push-2 col-md-4 error loginMessage" id="overlayMessage" style="display: block;">
                        <div>{{ 'error.login'|trans|nl2br }}</div>
                    </div>
                {% endif %}
                {% if showVersion() %}
                    <div class="ribbon">
                        <span>{{ version() }}</span>
                    </div>
                {% endif %}
                <div class="logo">
                    <img src="{{ asset('/bundles/enhavoapp/img/enhavo_admin_logo.svg') }}" alt="Enhavo CMS"/>
                </div>
                <form action="{{ path("enhavo_user_security_login_check") }}" method="post">
                    <input type="hidden" id="remember_me" name="_remember_me" value="on">
                    <div class="mb1">
                        <div class="input-container">
                            <input placeholder="{{ 'security.login.username'|trans }}" type="text" id="username" name="_username" value="{{ last_username }}" required="required" autofocus />
                        </div>
                    </div>
                    <div class="mb1">
                        <div class="input-container">
                            <input placeholder="{{ 'security.login.password'|trans }}" type="password" id="password" name="_password" required="required" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-xs-12">
                            <input type="checkbox" id="_remember" name="_remember">
                            <span></span>
                            <label for="_remember">{{ 'security.login.remember_me'|trans|nl2br }}</label>
                        </div>
                        <div class="col-sm-6 col-xs-12 reset">
                            <a href="{{ path('enhavo_user_user_reset_password') }}">{{ 'resetting.request.submit'|trans|nl2br }}</a>
                        </div>
                    </div>
                    <button class="btn loginButton" type="submit" id="_submit" name="_submit">{{ 'security.login.submit'|trans|nl2br }}</button>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                </form>
            </div>
            <p>
                enhavo is an open source content-management-system based on symfony 2 and sylius. <br/>
                Created and launched by <a href="http://xq-web.de" target="_blank">xq-web.de</a>
            </p>
        </div>
    </div>
{% endblock body %}
