{% extends template('admin/security/base.html.twig') %}

{% trans_default_domain 'EnhavoUserBundle' %}

{% block stylesheets %}
    {{ parent() }}
    {{ vite_css_tags('entrypoints/application.js', 'admin') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ vite_js_tags('entrypoints/application.js', 'admin') }}
    {{ vite_js_preload_tags('entrypoints/application.js', 'admin') }}
{% endblock %}

{% block form %}
    <form action="{{ path('enhavo_user_reset_password_confirm', {'token': token}) }}" method="post" novalidate class="login-form">
        <div class="form-row">
            <div class="input-container">
                <label for="{{ form.plainPassword.first.vars.full_name }}">{{ 'confirmation.form.label.password'|trans }}</label>
                <a href="{{ path('enhavo_user_security_login') }}" class="reset-pw-link">{{ 'security.login.submit'|trans|nl2br }}</a>
                {{ form_widget(form.plainPassword.first, {attr: { class: 'textfield', autofocus: '' }}) }}
            </div>
        </div>

        <div class="form-row">
            <div class="input-container">
                <label for="{{ form.plainPassword.second.vars.full_name }}">{{ 'confirmation.form.label.password-repeat'|trans }}</label>
                {{ form_widget(form.plainPassword.second, {attr: { class: 'textfield', autofocus: '' }}) }}
            </div>
        </div>

        <div class="button-row">
            <button class="btn loginButton" type="submit" id="_submit" name="_submit">{{ 'confirmation.form.action.reset'|trans|nl2br }}</button>
        </div>

        {{ form_row(form._token) }}
    </form>
{% endblock %}
